[2020-01-08 21:11] NgLoader opened #6 "Cleanup config system"
Cleanup config system:

- [X] Remove default configs
- [X] Remove config defaults from NMSManager
- [X] Remove config converter 12 to 13
- [X] Rewrite config generation
- [X] Add default config for each game version
- [ ] Add config converter to newest version
- [x] Increase config version number
- [x] Split up OrebfuscatorConfig in smaller interfaces
- [x] Remove EngineMode option (EngineMode 1 i

[2020-01-08 21:16] Ingrim4 opened #7 "New ChunkCache system"
Since the old system completely relies on caching chunks in the filesystem it's pretty slow. Replace this with a mixture of memory and filesystem caching.

- [x] HybridCache (memory and filesystem caching)
- [x] Replace old system with new one
- [x] Rewrite chunk serialization

#3

[2020-01-08 22:29] NgLoader opened #9 "Revise startup"
The current main class has functions and variables which don't belong in it. Put theses functions and variables in other classes (more fittings classes) or remove them completely.

- [x] Move useless methods outside or remove

#8

[2020-01-15 16:29] #9 closed, assigned to NgLoader

[2020-01-18 13:19] #7 closed, assigned to Ingrim4

[2020-01-18 13:22] Ingrim4 opened #12 "Use google Cache for RegionFileCache"
Use google guava Cache for the RegionFileCache for more efficient usage. That way we don't need to close all RegionFiles once we hit our size limit. Should also use the ChunkPosition as key so we don't need to build the path every time.

- [x] Replace Map<Path, T> with Cache<ChunkPosition, T> in AbstractRegionFileCache<T>

[2020-01-19 01:39] #12 closed, assigned to Ingrim4

[2020-01-19 05:50] NgLoader opened #13 "Revise obfuscation"
Revise and optimize obfuscation

- [x] Revise obfuscation function
- [x] Remove useless code
- [x] Remake ProximityHider
- [x] Remove unloaded chunks from ProximityHider

[2020-03-29 03:30] #6 closed, assigned to Ingrim4, NgLoader

[2020-05-01 15:51] NgLoader opened #15 "Update configs"
- [x] Updating all configs
- [x] implement save function

[2020-05-03 01:05] #13 closed, assigned to Ingrim4, NgLoader

[2020-05-03 13:12] Chevels opened #18 "Unplayable when mining (only false ores and ghostblocks)"
**Please fill out the following information:**
* Server Version: 1.15.2
* Orebfuscator Version: 5.0.1
* Protocollib Version: latest devbuild (448)

**Describe the bug**
When players are mining all blocks revealed are false ore.
When players mine blocks on ground, they are stuck by virtual falling when they walk on mined place.
A member do this video to see the issues:

[2020-05-03_14-46-45.zip](ht

[2020-05-04 17:03] NgLoader commented on #18
It is not currently implemented, this version is still under development

[2020-05-05 14:41] Chevels commented on #18
Oh sorry, I misunderstood your post on another issue...

So I'm going to wait until you give us the green light to be able to use this promising new version of Ofc :)
My encouragement anyway !

[2020-05-05 18:59] #18 closed, assigned to Ingrim4

[2020-05-22 18:27] #15 closed, assigned to NgLoader

[2020-07-17 09:05] ghost opened #28 "Many Lags"
Latest Orebfuscator Version for 1.16 lags like hell.

Spigot 1.16.1 and latest Dev Version from Protocollib.

Protocollib shows errors to

Your Versions for 1.15 was really good. But this lags. Or is it protocollib?

React shows me High spikes from Orebfuscator  and protocollib

[2020-07-18 20:17] Ingrim4 commented on #28
Could you upload the log or an exception and tell me if you changed something in the config so we can investigate your problem. [Timings](https://www.spigotmc.org/wiki/timings/) would also help.

[2020-07-20 18:16] darkvenger34 opened #29 "I'm sorry, but how must i install it for spigot 1.15.2, i don't see extension.Jar.."
I'm sorry, but how must i install it for spigot 1.15.2, i don't see extension.Jar.
can u say what must i do for download it xd
usually i must just drag the file.Jar into the plugins, but i can't find that.

[2020-07-21 04:59] NgLoader commented on #29
Here [Download](https://github.com/Imprex-Development/Orebfuscator/releases/download/v5.0.0-v16-pre/orebfuscator-plugin-v5.0.0-v16-pre.jar)

[2020-07-21 05:01] NgLoader commented on #29
And you need ProtocolLib (latest)

[2020-07-21 05:02] #29 closed, assigned to NgLoader

[2020-08-06 11:34] exstrim401 opened #30 "Deobfuscate permission"
Add deobfuscate permission

[2020-08-06 11:37] NgLoader commented on #30
You mean the permission ``orebfuscator.bypass``

[2020-08-09 18:31] #30 closed, assigned to NgLoader

[2020-08-10 13:44] exstrim401 commented on #30
yes

[2020-08-12 10:47] schrodingerneko opened #31 "Incompatible with 1.16.2"
**Please fill out the following information:**
* Server Version: 1.16.2
* Orebfuscator Version: Release v5.0.0-v16-pre
* Protocollib Version: ProtocolLib 4.5.1

**Describe the bug**
Describe the bug clearly and how to produce it

Incompatible with 1.16.2

[2020-08-12 12:56] NgLoader commented on #31
Can you please describe what's wrong and not only inkompatibel please?

[2020-08-12 13:25] schrodingerneko commented on #31
console log

[18:26:02] [Server thread/INFO]: [Orebfuscator] Enabling Orebfuscator v5.0.1
[18:26:02] [Server thread/INFO]: [OFC] Searching NMS protocol for server version "v1_16_R2"!
[18:26:02] [Server thread/ERROR]: [OFC] java.lang.RuntimeException: Server version "v1_16_R2" is currently not supported!
[18:26:02] [Server thread/WARN]: java.lang.RuntimeException: Server version "v1_16_R2" is curre

[2020-08-12 16:33] NgLoader commented on #31
Thanks, the 1.16.2 is currently not supported but I will push a supported version today.

[2020-08-12 17:01] schrodingerneko commented on #31
Thank you very much for your quick reply.

[2020-08-12 21:19] NgLoader commented on #31
Part of 5.0.0 release

[2020-08-12 21:19] #31 closed, assigned to NgLoader

[2020-08-12 21:48] NgLoader commented on #31
5.0.0 is now released [Download](https://github.com/Imprex-Development/Orebfuscator/releases/tag/5.0.0)

[2020-08-15 21:55] Chevels opened #35 "Permissions system, some options (config) & commands"
Hello :)

Apparently the permissions don't work since you took over the project, and I wanted to suggest that you put them back. The **Orebfuscator.deobfuscate: true** permission was very useful to us because some members (as me) can no longer play when there is orebfuscator. Their FPS drops drasticaly and this permission allowed obfuscation to be disabled for players with low PCs.
Personally my F

[2020-08-15 23:41] Ingrim4 commented on #35
The permission is already in the plugin and called "**orebfuscator.bypass**". When you bypass the obfuscation you will get a message in chat telling you that you're bypassing the obfuscation if you enabled **general.bypassNotification** in your config.  Regarding your loss of FPS this is probably because the server and game either run on the same machine or transparent/half blocks have a heigh wei

[2020-08-16 02:04] Chevels commented on #35
Oh thanks you ! I have not been able to find documentation for permissions.

My server is hosted by a host and we have 16GB of dedicated ram and 8 dedicated cores at 5Ghz each. Server isn't affected by OFC or a little bit. It is therefore not hosted on my PC^^
The config of OFC is config by default, so transparent/half blocks have default value. I would be very interested if you could advise me on

[2020-08-16 09:06] Ingrim4 commented on #35
The simplest way would be to remove `air` from all `randomBlocks` sections. This should improve your FPS since all the internal ChunkRenderBuffer should be less complex and simpler to build for the client. But I haven't tested this this is just my theory.

[2020-08-16 14:55] Xmonpl opened #36 "FastAsyncWorldEdit bug"
* Server Version: 1.16.1
* Orebfuscator Version: 5.0.0
* Protocollib Version: 4.6.0-SNAPSHOT-b473

Hello, I was able to locate such an error. The entire process is presented in the video.
https://www.youtube.com/watch?v=B9375GOsx2w
FAWE version: FastAsyncWorldEdit-1.16-312

[2020-08-17 20:57] Ingrim4 commented on #36
fixed in #37

[2020-08-17 20:57] #36 closed, assigned to Ingrim4

[2020-08-20 01:18] ColdtQ opened #38 "On 1.16.1 Commands dont work"
**Please fill out the following information:**
* Server Version: 1.16.1
* Orebfuscator Version: 5.0.0
* Protocollib Version: Latest dev build.

**Describe the bug**
Describe the bug clearly and how to produce it

Join a 1.16.1 server with Orebfuscator and ProtocolLib installed and try to run any commands /ofc. They don't work.

[2020-08-20 01:32] Ingrim4 commented on #38
This is intended since there are currently no commands implemented.

[2020-08-20 01:32] #38 closed, assigned to nobody

[2020-08-31 00:12] Jtcoop opened #40 "Wrong ProtocoLib version?"
* Server Version: 1.16.2
* Orebfuscator Version: 5.0.0
* ProtocolLib Version: 4.6.0-SNAPSHOT

I'm not sure if this belongs here but the plugin does not work currently and I am wondering if there is another version of ProtocolLib that I should be using or if there is something else I should be doing. I got the plugin to work great on 1.15.2 but I have not been able to get it working for 1.16.2.

[2020-08-31 11:57] Ingrim4 commented on #40
I can't reproduce this problem. Did the console output any exceptions?

[2020-08-31 12:47] Jtcoop commented on #40
I got it to work by changing the name of the world in the config. I saw in another one of your comments that there are not supposed to be in-game commands for this version of orebfuscator. Is that correct?

[2020-09-01 19:48] Ingrim4 opened #41 "Test"
Commands are planned but currently not being developed on regardless thank you for your suggestions we will consider them when implementing the command system.

_Originally posted by @Ingrim4 in https://github.com/Imprex-Development/Orebfuscator/issues/35#issuecomment-674458263_

[2020-09-01 19:48] #41 closed, assigned to nobody

[2020-09-01 19:49] Ingrim4 commented on #40
See: https://github.com/Imprex-Development/Orebfuscator/issues/35#issuecomment-674458263

`Commands are planned but currently not implemented.`

[2020-09-01 19:49] #40 closed, assigned to nobody

[2020-09-10 18:46] RehanPlayz opened #42 "1.16.2 Support"
**Describe your feature**
Update the Plugin to support 1.16.2

[2020-09-10 18:54] NgLoader commented on #42
Here is the 1.16.2 release version: https://github.com/Imprex-Development/Orebfuscator/releases/tag/5.0.0

[2020-09-10 18:56] #42 closed, assigned to nobody

[2020-09-17 09:05] schrodingerneko opened #43 "1.16.3 Support"
**Please fill out the following information:**
* Server Version: 1.16.3
* Orebfuscator Version: last
* Protocollib Version: 4.5.1

**Describe the bug**
Describe the bug clearly and how to produce it

[18:02:35] [Server thread/INFO]: [OFC] Searching NMS protocol for server version "v1_16_R2"!
[18:02:35] [Server thread/ERROR]: [OFC] java.lang.RuntimeException: Server version "v1_16_R2" is currently

[2020-09-17 18:26] Xaldrosis opened #44 "FPS lag"
I've installed this addon and everyone is experiencing FPS lag. FPS is reduced by over half.
After removing the addon the lag remains...

[2020-09-17 19:36] Ingrim4 commented on #44
See #35

[2020-09-17 19:36] #44 closed, assigned to nobody

[2020-09-17 19:39] Ingrim4 commented on #43
It would seem you didn't download the newest version

[2020-09-17 19:39] #43 closed, assigned to nobody

[2020-09-17 21:10] Xaldrosis commented on #35
I have turned off air blocks, it improved the fps slightly. You start off at normal fps and then it tanks down. One user even went down from 98 fps to 17 fps.

[2020-09-17 21:23] Chevels commented on #35
I'm sorry, I forgot to follow up on your advice @Ingrim4 .
Since I deactivated the air blocks, all members who complained of high FPS drop no longer have any concerns, same for me. Thank you !

[2020-09-17 21:36] Xaldrosis commented on #35
Small update, looks like the issue mostly has to do with certain resource packs. FPS seems to be fixed after removing airblocks and switching the resource packs to something else that has no issue with this mod.

[2020-09-24 21:14] Xaldrosis opened #45 "Replaced nodes still apearing to players while mining"
**Please fill out the following information:**
* Server Version: 1.16.2 spigot
* Orebfuscator Version: 5.0.0
* Protocollib Version: 4.5.1

**Describe the bug**
Describe the bug clearly and how to produce it

Players are mining and they will sometimes see the replaced nodes.

[Screenshot 1](http://prntscr.com/unbte5)
[Screenshot 2](http://prntscr.com/unbuz6)

After hitting it once the surrounding n

[2020-09-24 23:34] NgLoader commented on #45
Can't reproduce the bug, can you please give us more information?

[2020-09-25 06:47] Xaldrosis commented on #45
It's really hard to reproduce this. It doesn't happen often, but I've had players tell me they see this like once or twice a day.

They randomly find these spots while running around and adventuring. The position from the screenshots was at the surface like 5 blocks deep.

EDIT: I've had another report of user telling me that chests in caves sometimes appears as regular blocks and they need to hit

[2020-09-25 14:45] Xaldrosis commented on #45
Here's the default config, I've only removed the airblocks so far.

version: 1
general:
  updateOnBlockDamage: true
  bypassNotification: true
  initialRadius: 1
  updateRadius: 2
  proximityHiderRunnerSize: 4
cache:
  enabled: true
  baseDirectory: 'orebfuscator_cache/'
  maximumOpenRegionFiles: 256
  deleteRegionFilesAfterAccess: 172800000‬
  maximumSize: 4096
  expireAfterAccess: 30000
world:

[2020-09-25 15:29] Ingrim4 commented on #45
Any other plugins on your server that could cause thoose problems?

[2020-09-25 15:34] Xaldrosis commented on #45
We run 4 other mods. AdminGUI-1.4.5, CustomTime-2.0, SuperVanish-6.2.0 and Logblock-1.16.1.1

Logblock shouldn't be an issue as that's been added after your addon and the issues were already there. The other 3 mods were there before we added yours.

[2020-09-25 18:12] SydMontague opened #46 "ChunkCache.invalidate() sucking massive performance."
* Server Version: 1.16.3
* Orebfuscator Version: 5.0.0
* Protocollib Version: 4.6.0-SNAPSHOT-b478

ChunkCache#invalidate() is called everytime anything in the world changes (see ObfuscationListener) and apparently causes a full cache rewrite in the main thread to disk.

We're looking at about 2ms per call here, based on my timings on a Ryzen 5 3600+NVMe SSD.

[2020-09-25 18:21] SydMontague commented on #45
The error seems to appear quite often at chunk borders, potentially even chunk region borders.

[2020-09-26 08:02] SlimeDog opened #47 "Feature Request: Identify console messages"
Spigot 1.16.3
Orebfuscator 5.0.0-b132

It would be nice if the following (example) WARN messages on server start-up were identified as produced by Orebfuscator
[code]

[2020-09-26 16:38] Xaldrosis commented on #45
A user disconnected and came back like an hour later. He was mining in tunnels before he logged off and when he logged back in he saw fake diamonds on a wall next to him.

[2020-09-27 15:39] SlimeDog opened #48 "NPE on server start-up"
**Please fill out the following information:**
* Server Version: 1.16.3
* Orebfuscator Version: 5.0.0-b132
* Protocollib Version: 4.6.0-b480

**Describe the bug**
Shortly after server start-up, the log reported
[code]
No players were connected.

[2020-09-28 13:29] MoonCrowned opened #49 "Barrels are visible"
* Server Version: papermc_387
* Orebfuscator Version: 5.0.0
* Protocollib Version: v4.5.1

Barrels are visible, if added in config.yml as
- barrel
They are simple containers + cool decor, so players often use them in their bases. But they are visible, so griefing is simple. I think it is easy to fix it, just add to some entities list to hide.

[2020-09-28 16:44] Xaldrosis commented on #45
Someone logged on and all their chests were cobble in their base.

[Screenshot](https://cdn.discordapp.com/attachments/753340410968932362/759927466130931722/unknown.png)

[2020-09-28 20:04] Ingrim4 commented on #49
Could you please upload/post your config?

[2020-09-28 20:13] Ingrim4 commented on #48
Should be fixed with the next commit

[2020-09-28 20:13] #48 closed, assigned to nobody

[2020-09-28 23:08] Ingrim4 commented on #47
Implemented as part of #50

[2020-09-28 23:08] #47 closed, assigned to nobody

[2020-10-04 00:48] #28 closed, assigned to Ingrim4

[2020-10-04 00:48] #46 closed, assigned to Ingrim4

[2020-10-10 12:39] pc-git-bot opened #53 "Fake block chunks"
**Please fill out the following information:**
* Server Version:  git-Paper-220 (MC: 1.16.3) (Implementing API version 1.16.3-R0.1-SNAPSHOT)
* Orebfuscator Version: 5.1.0-pre
* Protocollib Version: 4.6.0-SNAPSHOT-b480

**Describe the bug**
i'm spotting chunks like this pretty often while flying around the world (probably chunks not cached by orebfuscator)
after right clicking block it disappears.

[2020-10-10 13:09] Ingrim4 commented on #53
Does this also occur on spigot? Can you please provide your world seed and the position of such a chunk. Could you also check if this is still the case in the new pre-release: https://github.com/Imprex-Development/Orebfuscator/releases/tag/5.1.0-pre

[2020-10-11 18:53] Ingrim4 commented on #53
If there were no errors in the console then no errors occurred. Does this happen on every worldpainter map or did you just test this on the same map? If it should only happen on this one specific map could you please provide a download to it if possible.

[2020-10-12 18:51] #53 closed, assigned to nobody

[2020-10-13 18:51] NgLoader commented on #45
Can you please try it again with latest version?

[2020-10-13 20:05] Xaldrosis commented on #45
I'll install it and ask the users for feedback.

Edit: Installed it and noticed this minor thing in console :)

[22:08:11] [Server thread/INFO]: [Orebfuscator] Enabling Orebfuscator **v5.0.0**

[2020-10-14 11:27] Ingrim4 commented on #45
ups didn't change the version in plugin.yml xD

[2020-10-18 18:52] Xaldrosis commented on #45
Someone just reported seeing fake ores

[2020-10-18 22:17] Ingrim4 commented on #45
Do you know when this happened? (after login, mining or something else)

[2020-10-19 22:02] Bobcat00 opened #55 "Proximity Hider problem"
**Please fill out the following information:**
* Server Version: git-Spigot-57bbdd8-b8dd5ec (MC: 1.16.3)
* Orebfuscator Version: 5.1.0
* Protocollib Version: 4.6.0-SNAPSHOT-b481

**Describe the bug**
If you join the server or teleport to within the Proximity Hider range of a block to be hidden (anvil, crafting table), the block will remain as stone no matter how you move.  Even if you move away fr

[2020-10-20 19:54] Xaldrosis commented on #45
Randomly when mining / adventuring

[2020-10-20 20:01] Ingrim4 commented on #45
Maybe I should have made myself more clear. What I meant was does this happen after some blocks got destroyed by whatever means (block break, ...) or do these sometimes appere at the surface of the world (cave, ...). Because when these appere just randomly at the surface without players interference that would mean the obfuscation is at fault otherwise the update listener.

[2020-10-20 22:20] Ingrim4 commented on #55
From the best I understand; that picture shows one of my players, a moment or two after he had logged in. Those stone blocks on the floor should be both some single block chest as well as a shulker or two. (if he were farther away then this would be no problem, but he's pretty close to em) but they are still 'stone' even though he is close to them.... Note: this problem seems to only be happening

[2020-10-20 22:24] Ingrim4 commented on #55
We found the cause of the problem and are currently working on a solution.

[2020-10-22 00:08] #55 closed, assigned to Ingrim4, NgLoader

[2020-10-25 10:34] molor opened #60 "Can't receive chunks"
**Please fill out the following information**
* Server Version: Paper 1.16.3
* Orebfuscator Version: Below
* Protocollib Version: Below

**Describe the bug**
I'm just fastly reconnected to the server 1-2 times and chunks won't received even after two minutes of waiting..

![2020-10-25_13 31 41](https://user-images.githubusercontent.com/19989717/97104637-82e03700-16c6-11eb-8636-9a26c80be374.png)

T

[2020-10-25 13:01] Ingrim4 commented on #60
Did this just happen this one time or is it a recurring thing? Where there any other exceptions, did you modify the config, is this a normal world, any other plugins that could interfere?

[2020-10-25 13:06] Ingrim4 commented on #60
Should this ever recur please send us a screenshot of your F3 debug screen like below.
![debug screen](https://user-images.githubusercontent.com/8127996/97108051-20d60080-16cb-11eb-8011-5c37bbc26c1e.png)

[2020-10-25 18:02] molor commented on #60
This is.

None.

https://pastebin.com/680QKbEv

Yes, sometimes nether have same issue.

@Ingrim4, just now:

![image](https://user-images.githubusercontent.com/19989717/97114985-e8531880-1704-11eb-99d8-bd4767f3f347.png)

[2020-10-25 20:42] Ingrim4 commented on #60
Does deleting the cache (when the server isn't running) fix the issue? Does your cache folder have write permissions?

[2020-10-26 07:28] molor commented on #60
No :c

Steps that I do: removed cache folder, started server, joined the game (in Creative mode while flying above ground, so I can't move until chunks received by client), disconnected, quickly repeat last 2 steps 2-4 times in a row and got "Waiting for chunk...". CPU isn't overloaded (~30%), RAM use 20%.

Of course. By the way, regarding cache folder, please return back the ability to move it ou

[2020-10-26 13:28] Bobcat00 opened #61 "hiddenBlocks and randomBlocks written in inconsistent order"
**Please fill out the following information:**
* Server Version: git-Spigot-57bbdd8-55a78ff (MC: 1.16.3)
* Orebfuscator Version: 5.1.1
* Protocollib Version: 4.6.0-SNAPSHOT-b482

**Describe the bug**
In the default config.yml file created by the plugin, hiddenBlocks and randomBlocks are in an arbitrary order. This makes it difficult for server owners to compare config files to see what has changed

[2020-10-27 17:26] Ingrim4 commented on #60
Since I can't reproduce this, I've written a hackish debug version that I would like you to use. Should the bug occur just type `/debug` to open a debug inventory and send use the data in it.
[link expired](https://drive.google.com)

Will add this in the next version. (could maybe try to use symlink till then)

[2020-10-27 19:42] molor commented on #60
@Ingrim4,

![image](https://user-images.githubusercontent.com/19989717/97353819-91387980-18a5-11eb-81b4-4f7f4f9e4728.png)
![image](https://user-images.githubusercontent.com/19989717/97353836-95fd2d80-18a5-11eb-8e6b-6238ce37763c.png)
![image](https://user-images.githubusercontent.com/19989717/97353849-9ac1e180-18a5-11eb-81ce-ec1d165443c8.png)

[2020-10-27 19:47] molor commented on #60
I also has a `orebfuscator.bypass` permission, if it's important

[2020-10-27 20:48] Ingrim4 commented on #60
The `orebfuscator.bypass` permission changes everything this looks like a client problem since we don't even touch packets of bypassed players. Maybe optifine will fix it for you. If other players should expirience the same problem then it's probably a problem with ofc.

[2020-10-27 20:55] NgLoader commented on #60
Have you ever tested it without OFC?

[2020-10-27 20:57] molor commented on #60
Sure, and everything is working fine every time

[2020-10-27 20:59] NgLoader commented on #60
Have you any other plugins on your server?

[2020-10-27 21:00] Ingrim4 commented on #60
If you disable the cache does that maybe fix the issue?

[2020-10-27 21:06] molor commented on #60
When I noticed this problem, I started deleting plugins one by one in order to find the causer. Stopped at OFC, without it everything is good.

In addition, if I stop the server with the `stop` command while the client is "waiting for chunks" — before disconnecting from the server, but after disabling OFC, chunks are immediately loaded. So it's not a client issue

[2020-10-27 21:11] molor commented on #60
Hmm, without cache everything is works fine and all chunks loads instantly after connection.. Thanks, this will work as a temporary solution. But I would still like to understand what this problem is and fix it completely.

[2020-10-27 21:37] Ingrim4 commented on #60
Probably something with ProtocolLib not sending packets when you simply return. (Maybe it's the new ProtocolLib version that causes this issue since I used 4.5.0 for testing)

[2020-10-27 21:49] Ingrim4 commented on #60
I've now tested your setup with ProtocolLib v4.6.0-b480 and Paper b240. Sometimes the chunks next to the player don't load maybe this is paper thing but it's not as bad as what you're expiriencing.

[2020-10-27 21:53] Ingrim4 commented on #61
Seems like a good idea. Maybe we should even use the default minecraft order. Will implement this in the next bigger update which will enhance the config anyway.

[2020-10-27 21:55] Ingrim4 commented on #49
Closed due to inactivity

[2020-10-27 21:55] #49 closed, assigned to nobody

[2020-10-28 05:44] molor commented on #60
I will try ProtocolLib 4.5 tomorrow and tell if something has changed

[2020-10-28 10:12] Ofek270704 opened #62 "one question"
May it support 1.16.3?

[2020-10-28 17:00] NgLoader commented on #62
Yes

[2020-10-28 17:01] NgLoader commented on #62
Use the latest release version

[2020-10-28 18:03] #62 closed, assigned to NgLoader

[2020-10-28 18:37] molor commented on #60
Nothing changed with PL 4.5

[2020-10-28 19:33] Ofek270704 opened #63 "May you help me?"
The plugin doesn't work for me. I am on Minecraft version 1.16.3 and running the plugin version 5.1.1

[2020-10-28 22:52] Ingrim4 commented on #60
and does it work without paper cause that's what i suspect

[2020-10-28 22:53] NgLoader commented on #63
Can you please provide some more informations?
Server version?
Protocollib version?

any console errors?

[2020-10-29 07:54] Ofek270704 commented on #63
server version is 1.16.3
protocollib version is 4.5.1

[2020-10-29 07:58] NgLoader commented on #63
Are you using spigot?
**Any console errors?**

[2020-10-29 07:59] Ofek270704 commented on #63
no errors

[2020-10-29 08:00] Ofek270704 commented on #63
I just checked now.

[2020-10-29 08:00] Ofek270704 commented on #63
and it still doesn't work

[2020-10-29 08:02] Ofek270704 commented on #63
[Orebfuscator] Enabling Orebfuscator v5.1.1
[Orebfuscator] cache.protocolLibThreads is less than one, choosing processor count as value = 16
[Orebfuscator] Searching NMS protocol for server version "v1_16_R2"!
[Orebfuscator] NMS protocol for server version "v1_16_R2" found!

[2020-10-29 08:02] Ofek270704 commented on #63
it is not an error

[2020-10-29 08:02] NgLoader commented on #63
Have you * permissions?

[2020-10-29 08:03] Ofek270704 commented on #63
what permissions?

[2020-10-29 08:04] Ofek270704 commented on #63
I have luckperms on my server

[2020-10-29 08:07] NgLoader commented on #63
Yea, ofc is working on you server but when you have **'*'** or **orebfuscator.bypass** permissions the plugin don't obfuscate your chunks only for players without permissions

[2020-10-29 08:12] Ofek270704 commented on #63
yea the players without perms and it does not obfuscate the chunks.

[2020-10-29 08:16] NgLoader commented on #63
Have you any other plugins on you server?

[2020-10-29 08:16] Ofek270704 commented on #63
wait I will send you the plugins

[2020-10-29 08:17] Ofek270704 commented on #63
![image](https://user-images.githubusercontent.com/67981835/97542760-f7b9b680-19cf-11eb-89cc-9ad06adb499a.png)

[2020-10-29 08:23] NgLoader commented on #63
Can you please try to run only Orebfuscator and ProtocolLib and when it works to enable the other plugins one by one?
Ps: you can rename the .jar to like .jarr and it will not be loaded as a plugin.

[2020-10-29 08:26] Ofek270704 commented on #63
ok

[2020-10-29 08:33] Ofek270704 commented on #63
still not work

[2020-10-29 08:33] Ofek270704 commented on #63
I will send you the config of the oreb plugin

[2020-10-29 08:36] Ofek270704 commented on #63
I need to change the config my world name is survival. I changed the config and its return to the old config.

[2020-10-29 09:03] NgLoader commented on #63
You can only edit the config when the server is stopped

[2020-10-29 09:07] Ofek270704 commented on #63
I found the bug now its work

[2020-10-29 09:08] Ofek270704 commented on #63
I change the name of the world

[2020-10-29 09:08] Ofek270704 commented on #63
I change the name to world

[2020-10-29 09:15] NgLoader commented on #63
Okay 😄

[2020-10-29 09:18] #63 closed, assigned to NgLoader

[2020-10-29 14:01] molor commented on #60
On Spigot it works fine with enabled cache..

[2020-10-29 14:35] Ingrim4 commented on #60
Then I'm sorry to say that we currently only maintain spigot support but we do have plans to support forks of it at a later time. There are a few things you can still try, update Paper and ProtocolLib to the latest dev builds or use our [latest dev build](https://github.com/Imprex-Development/Orebfuscator/actions).

[2020-10-29 17:46] molor commented on #60
I can't stop using Paper, as it will loads at least twice as fast as Spigot, allows me to configure a lot of things I need, and almost all other plugins (even WorldEdit!) recommends it. But I understood you, for now I disable cache and will wait for full support.. Thanks.

[2020-11-03 08:47] molor opened #65 "Support for 1.16.4"
Add support for MC 1.16.4 (v1_16_R3) please.

[2020-11-03 16:07] Ingrim4 opened #67 "Allow cache folder outside of worlddir"
Give users the ability to move the cache folder outside the worlddir and add a small warning if they do so.

_Originally posted by @molor in https://github.com/Imprex-Development/Orebfuscator/issues/60#issuecomment-716362901_

[2020-11-03 18:55] #67 closed, assigned to Ingrim4

[2020-11-03 18:55] #65 closed, assigned to Ingrim4

[2020-11-03 18:55] #61 closed, assigned to Ingrim4

[2020-11-03 19:20] Ingrim4 opened #71 "clean/enhance the nms modules"
The NMS modules haven't been worked on for a long time and are full of unused or unnecessarily complicated code. We should remove all unused methods and simplify the code in general.

-  remove `NsmManager::getBlockLightLevel`
-  merge `NsmManager::updateBlockTileEntity` into `NsmManager::sendBlockChange`
-  improve `BlockState::notifyBlockChange` performance
-  simplify `NsmManager::isAir` and `N

[2020-11-04 01:23] Ingrim4 opened #73 "clean/enhance the obfuscation system"
The obfuscation system is very unreadable and all over the place. This should change in order to make it easier to further work on the project. Additionally there is a new obfuscation feature planned called `useBlockBelow` which will use the block below as replacment for a proximity hidden block.

[2020-11-04 22:06] #71 closed, assigned to Ingrim4

[2020-11-04 22:07] #73 closed, assigned to Ingrim4

[2020-11-09 02:20] Ingrim4 commented on #45
Have possibly found the cause of this problem will probably fix it in the next update.

[2020-11-09 23:17] #45 closed, assigned to nobody

[2020-11-10 11:41] Ingrim4 opened #76 "Use /version for bug report issue template"
**Describe your feature**

Add the advice to use the /version command for finding out the versions required for a bug report.

[2020-11-10 11:50] #76 closed, assigned to Ingrim4

[2020-11-13 15:10] Ingrim4 opened #78 "clean/enhance the config system"

[2020-11-19 18:18] AMDBartek opened #80 "Unable to locate sign message in chat"
**Please fill out the following information:**

* Server Version:
git-Paper-1618 (MC: 1.12.2) (Implementing API version 1.12.2-R0.1-SNAPSHOT)
* Orebfuscator Version:
Orebfuscator version 5.1.2
* Protocollib Version:
ProtocolLib version 4.5.1

**Describe the bug**
When joining the server on a 1.8.x client with ViaBackwards + ViaRewind (or any backwards compatibility plugin) there is an Unable to lo

[2020-11-19 21:15] #78 closed, assigned to Ingrim4

[2020-11-20 01:05] Ingrim4 commented on #80
This problem is related to the clientbound UpdateSignPacket which got removed in 1.9 and later version. Since we only support 1.9.4+ we won't fix this issue since this will only ever happen to 1.8 and below clients.

[2020-11-20 01:05] #80 closed, assigned to Ingrim4

[2020-11-20 02:01] Ingrim4 commented on #60
Could you maybe check if the new 5.1.3 release fixed this issue since I can't reproduce it.

[2020-11-23 13:37] molor commented on #60
Can't check this because now I'm using Paper built-in Anti X-Ray and only use Orebfuscator because of Proximity Hider.
You can close this issue if you want to.

[2020-11-28 21:09] Pianist20005 commented on #60
Hello, I want to inform you that I have/had the same problem:
Server: Spigot 1.16.4 (with a bungeecord network)
Plugins: ProtocolLib 4.5.1, Orebfuscator 5.1.3, Luckperms + Luckpermchat, Varo

If I join from my main server to the server where ofc is installed, then some mobs are visible as molo already send pictures, but the chunks don't load. (I waited for half an hour, but nothing changed, -> Pla

[2020-11-29 19:49] Ingrim4 commented on #60
I'm sorry to say that I can't fix the issue without the ability to reproduce it.

Yes most definitely but it depends on the amount of players.

Should be client lag since the renderer can't handle all the air blocks.

[2020-11-29 20:23] Pianist20005 commented on #60
Thanks for the information!

I can show it to you on my server, or you can try it on your own, but I don't want to poste my serveradress in here, because my server is not finished yet. Is there an other way how I can give/send it to you? Then you can try out, and probably you find the issue.

Okay but it should not be a big deal for the server: There are 16GB Ram for a maximum of 30 players.

Okay

[2020-11-29 20:24] Ingrim4 commented on #60
Just add me on discord: Maurice#7519

[2020-12-03 23:46] duckysarts opened #81 "Plugin Disconnecting Players, Seemingly Related to Quantity (Not Identity) Of Other Installed Plugins"
**Please fill out the following information:**

* Server Version: Paper-310-1.16.4
* Orebfuscator Version: orebfuscator-plugin-5.1.3
* Protocollib Version: 4.5.1

**Describe the bug**

Upon installing Orebfuscator and running the server (with other plugins installed as well), players can no longer reach the server in the server list (not even I can reach it as the host, via 'localhost'.) If I atte

[2020-12-05 03:29] duckysarts commented on #81
Update:
The above is still true.

Everything works fine on my ~59 plugins server, until I add Orebfuscator. Adding Orebfuscator causes every plugin with a ProtocolLib dependency to break, basically. I am running the latest version of Paper, but the behavior is the same on spigot in the testing that I did.

[2020-12-05 18:55] Ingrim4 commented on #81
First of all your ProtocolLib version isn't compatible with 1.16 and above, for newer versions check this: https://ci.dmulloy2.net/job/ProtocolLib/
You could also try disabling the cache inside the config and see if that helps since it uses the async api of ProtocolLib which might cause some problems. But other than that I don't know what could cause that problem.

[2020-12-08 02:09] duckysarts commented on #81
Hello :)

When I run on ProtocolLib's latest dev builds, it does indeed work fine until I add Orebfuscator, at which point ProtocolLib crashes and none of the plugins with it as a dependency will launch. Because of the error thrown by ProtocolLib when I add Orebfuscator, I also submitted a ticket on their GitHub: https://github.com/dmulloy2/ProtocolLib/issues/1030

Disabling the cache feature (cac

[2020-12-08 02:11] duckysarts commented on #81
I am on Java 12 by the way, if that is relevant. I've also updated to paper-1.16.4-313.
.

[2020-12-08 18:31] Ingrim4 commented on #81
Technically Java is for the most part backwards compatible but you could still try if using Java 8 changes anything. Would also guess that if Orebfuscator is the reason for the crash that it's probably incompatible with one or more plugins below:
[code]

[2020-12-08 23:23] duckysarts commented on #81
I was on Java 8 before my recent update to Java 12 and was still having issues.

When I run a server with each of those^ & ProtocolLib installed, (but nothing else installed), everything launches/runs fine:
![image](https://user-images.githubusercontent.com/75456352/101551827-f1274300-396e-11eb-888f-c7a7fccf2d22.png)

This goes back to my initial post^, where I talked about the weird behavior bein

[2020-12-19 19:13] ghost opened #82 "Support for slimefun pickaxes"
**Describe your feature**
Slimefun pickaxes can take out big areas with one hit, and it causes the false xray ores to show up.
Of course the only way to fix this is by relogging, which is annoying as all and makes the pickaxe useless for players.

PLEASE add slimefun API support so it wont glitch the items out. Thanks!

[2020-12-29 09:42] CelaldoganGunes opened #83 "Minecart BUG"
Server Version: git-Paper-342 MC 1.16.4 API Version 1.16.4-R0.1
Orebfuscator Version: 5.1.3
Protocollib Version: 4.5.1

Describe the bug:
Plugin doesn't hide minecarts. XRAY users can find mineshafts if they close every block in hack settings. Because they can see minecarts.

[2020-12-29 19:44] Ingrim4 commented on #83
Hiding entities isn't part of Orebfuscator and we do not plane to add that.

[2020-12-29 19:44] #83 closed, assigned to nobody

[2021-01-03 21:26] Grolicek opened #84 "Always getting error that says orebfuscator bypassed"
**Please fill out the following information:**

* Server Version: <1.16.4 spigot>
* Orebfuscator Version: <5.1.3>
* Protocollib Version: <4.5.1>

as said in tittle and no commands works

maybe join my server? to see idk other how to...

[2021-01-04 04:54] ProgrammerDan opened #85 "Prior releases included a way to ask Orebfuscator to update a Location, is there any equivalent or can one be added?"
Previously, an API was exposed for integration purposes. The "BlockUpdate" api could be used to inform Orebfuscator to recompute a block; for instance, in HiddenOre we alter blocks and a compatibility layer would sent BlockUpdate.updateByLocations() a list of locations that were altered, and Orebfuscator would recompute.

Anyway, wasn't able to find an equiv in the current version, and wasn't sure

[2021-01-06 17:22] xEllesi opened #86 "Minecart Chests"
So, if you can hide the minecart chests too, cuz with this players can find the mineshafts
<3 thanks

[2021-01-09 22:09] Ingrim4 commented on #86
Hiding entities isn't part of Orebfuscator and we do not plane to add that.

[2021-01-09 22:09] #86 closed, assigned to nobody

[2021-01-09 22:13] Ingrim4 commented on #84
If by error you mean a chat message telling you that you bypassed orebfuscator that's intended behavior. This message is just telling you that you won't receive any obfuscated chunks. You can disable this message in the config under [general.bypassNotification](https://github.com/Imprex-Development/Orebfuscator/wiki/Config#general).

[2021-01-09 22:17] Ingrim4 commented on #85
As of now there is no way to achieve what you want. I do have plans to add a simple API for that but still have some concerns regarding the performance impact of calling that method. I probably need to improve the update concept a bit.

[2021-01-10 00:30] Ingrim4 opened #87 "Update checker"
Implement a simple release update check so nobody misses future versions.

[2021-01-10 00:36] #87 closed, assigned to Ingrim4

[2021-01-10 03:56] ProgrammerDan commented on #85
Thanks for the reply! Definitely will be useful in some contexts. In prior
incarnations we'd implemented it as a "pass in a list of locations" to
optimize for performance, so the calling plugin could aggregate a list of
blocks needing updates and handle them at once.

Regardless, I'll wait and see what you come up with, whenever you get time
for it. Thanks again.

On Sat, Jan 9, 2021 at 5:17 PM Ma

[2021-01-10 13:47] Grolicek commented on #84
Sorry my bad, i have wrong world names so it didn't work. I got that idea from that link! Thanks much

[2021-01-10 13:47] #84 closed, assigned to nobody

[2021-01-10 16:09] Ingrim4 commented on #85
Here is a first preview: https://github.com/Imprex-Development/Orebfuscator/tree/85-api

[2021-01-10 17:29] SlimeDog opened #89 "NPE and disabled if checkForUpdate:true and network blocked"
**Please fill out the following information:**

* Server Version:
[code]
or
[code]

* Orebfuscator Version:
[code]
dev build 196

* Protocollib Version:
[code]

**Describe the bug**

- `checkForUpdates` is not defined in the default `config.yml`, so defaults to `true` (per code). Presumably this is one of the incomplete tasks.
- If network is blocked, NPE is generated and plugin is disabled. Updat

[2021-01-10 18:03] NgLoader commented on #89
This plugin works without a network connection, you only need to disable it.
We will add this later to the default config.

[2021-01-10 18:35] Ingrim4 commented on #89
Thanks for reporting that totally forgot to check what happens when the github api can't be reached will immedity fix that.

[2021-01-10 18:37] SlimeDog commented on #89
Thank you.

[2021-01-10 19:29] #89 closed, assigned to Ingrim4, NgLoader

[2021-01-10 20:00] SlimeDog commented on #89
All better with Dev build 199. Thanks.

[2021-01-15 22:44] Nachos404 opened #91 "Nothing happens"
**Please fill out the following information:**

* Server Version: 1.16.4
* Orebfuscator Version: 5.1.3
* Protocollib Version: 4.5.1

**Describe the bug**
I added the plugin and ProtocolLib and started the server up and absolutely nothing changed. X-ray still works perfectly and I can’t tell a difference.

[2021-01-18 20:12] Ingrim4 commented on #91
We need more info to help like your config, world names, permissions you have on your test account and so on.

[2021-01-24 16:54] kyle-vasilia commented on #60
I am having this issue aswell on the latest version on a 1.16.4 server - it worked fine for nearly a month until this point - emptying cache did nothing, I'll disable it for now

[2021-01-24 23:39] Ingrim4 commented on #60
Are you using the latest version of ProtocolLib? https://ci.dmulloy2.net/job/ProtocolLib/

[2021-01-25 17:01] #85 closed, assigned to nobody

[2021-01-25 17:45] ProgrammerDan commented on #85
You guys rock -- love the API add and amazing bonus to have an example
distributed with it as well. Thank you.

On Mon, Jan 25, 2021 at 12:01 PM Maurice Eisenblätter <
notifications@github.com> wrote:

[2021-01-30 17:17] XfedeX opened #93 "Anti Player Esp"
Hides players if you are not looking at them, and, configurable, if they are hidden by walls.

[2021-01-30 17:46] NgLoader commented on #93
This is a anti-xray plugin.
Hiding player is not supported in orebfuscator

[2021-01-30 18:42] #93 closed, assigned to nobody

[2021-01-31 22:45] MyrQv0x commented on #91
Hi, I have the same issue, nothing changed.
This is the (default) orebfuscator config:
version: 1
general:
  updateOnBlockDamage: true
  bypassNotification: true
  initialRadius: 1
  updateRadius: 2
  proximityHiderRunnerSize: 4
cache:
  enabled: true
  baseDirectory: orebfuscator_cache
  maximumOpenRegionFiles: 256
  deleteRegionFilesAfterAccess: 172800000
  maximumSize: 8192
  expireAfterAccess:

[2021-02-01 05:15] pintoso opened #94 "Worldguard flag"
A flag for the worldguard to bypass proximity obfuscation.

the plugin is using resources in unnecessary places (spawns, lobbys, etc.) and it is also a bit annoying for new players to go to those places and have to get close to know which block is

[2021-02-01 05:18] pintoso commented on #60
Its fixed for me using latest ProtocolLib version.

[2021-02-02 18:27] Ingrim4 commented on #91
Your test account has the bypass permission which causes him to see no change. If that doesn't fix the "problem" please check out this post: https://github.com/Imprex-Development/Orebfuscator/wiki/Common-Issues#i-dont-see-any-blocks-obfuscated

[2021-02-02 18:35] Ingrim4 commented on #94
We don't have plans to implement this feature but feel free to fork us and do it yourself.

The reason for not implementing this is that the cache wouldn't work anymore because every player would need his own version of a chunk packet because every player could have access to different regions. Another huge problem would be the enormous overhead involved with determining which block gets bypassed

[2021-02-02 19:16] pintoso commented on #94
makes sense
unfortunately I have no ideas on how to make this possible(without this problem)
anyway, thanks for the quick response ^^

[2021-02-02 19:16] #94 closed, assigned to nobody

[2021-02-03 22:17] Ingrim4 commented on #81
Closed due to inactivity and no progress towards resolving the issue.

[2021-02-03 22:17] #81 closed, assigned to nobody

[2021-02-04 07:22] red40forever opened #95 "Reload command"
I asked about this in a review and it seems that the current solution is to /reload, which isn't ideal for some plugin combinations/configurations. This is a problem with my server specifically so it would be helpful to have a dedicated reload command to avoid the incompatibilities and overhead that comes with CraftBukkit's (or by extension, whatever API you're using).

Thank you.

[2021-02-07 22:07] NgLoader commented on #95
You can use [Plugman](https://dev.bukkit.org/projects/plugman) to reload only one plugin.

[2021-02-11 22:21] Ingrim4 opened #96 "Update to 1.17"
Prepare project for update to 1.17

[2021-02-15 10:53] Ingrim4 commented on #95
I've considered implementing a reload command but there are a few issues that would need fixing. First and foremost the config isn't hot swappable when the cache is enabled since everything async. This means we would have to stop all threads and restart them with the new config which is essentially what a bukkit reload does. Another problem which comes with the next release of OFC is that we then

[2021-02-15 10:58] Ingrim4 opened #97 "Convert UpdateSystem into a non-blocking system"
When a player joins and we check for updates. This could result in the game freezing because the UpdateSystem currently runs in the main thread and depending on the network speed or reachability of the github api this process could take some time.

The UpdateSystem should live outside the main thread.

[2021-02-15 17:59] #97 closed, assigned to nobody

[2021-02-17 21:01] #95 closed, assigned to nobody

[2021-02-17 21:27] #91 closed, assigned to nobody

[2021-02-18 09:47] TimurYP commented on #35
Hi, I'm having difficulty, how to disable obfuscation for OP players on version 1.16.4?

[2021-02-18 14:55] Ingrim4 commented on #35
https://github.com/Imprex-Development/Orebfuscator/wiki/Permissions

[2021-03-12 23:27] Nolij opened #99 "Config option to enable in all worlds"
As described in title. I'd like to use this in conjunction with a plugin I'm working on which generates worlds dynamically. I'd like to be able to set orebfuscator to protect the dynamically created worlds.

[2021-03-15 12:54] Ingrim4 commented on #99
How do you imagine that? With wildcards or maybe regex pattern?

[2021-03-15 20:21] Mcdikmen opened #100 "Chunks doesn't load cuz of orebfuscator."
Hello,

I have a problem about a chunk load. It's not just about me, cuz all my players are facing this problem. If i remove the orebfuscator plugin, problem is resolving right away.

Waiting your comments.

Here is the video: https://youtu.be/SSziD_OmAhc

Thank u.

Using, ProtocolLib v4.6.1-SNAPSHOT-b498

Using, git-Paper-469 (MC: 1.16.5) (Implementing API version 1.16.5-R0.1-SNAPSHOT)

OFC versi

[2021-03-15 21:42] Ingrim4 commented on #100
Could you try to disable the cache and see if that fixes the problem. If that would fix it I would like you to try a special version of OFC which uses the async protocollib listener but not the cache to isolate the problems origin. I hope that you cooperate with me on this since this is a know issue (#60) that I can't reproduce but would like to resolve.

[2021-04-01 10:33] akiselevprivate commented on #96
Any updates?

[2021-04-01 10:47] NgLoader commented on #96
Waiting for the 1.17 release
[Current 1.17 Branch](https://github.com/Imprex-Development/Orebfuscator/tree/96-1.17)

[2021-06-07 20:42] MrPranklez commented on #100
I also ran into this issue when I join a server, I'll try to disable the cache and see if that resolves it https://i.imgur.com/sGobmHJ.png

EDIT: Since disabling it things seem to work fine again

[2021-06-08 17:16] Ingrim4 commented on #100
Here is the special version I promised: https://github.com/Imprex-Development/Orebfuscator/suites/2943443220/artifacts/66155718 Source-Code can be found here: https://github.com/Imprex-Development/Orebfuscator/tree/async-protocollib-sync-obfuscation

Could u tell me regardless of the cache options if this version does work for you or if it doesn't.

[2021-06-12 15:20] Zocker377 opened #103 "Protocol lib isnt recognized"
Hi,
i just installed orebfusctor but when i look after the status, it says that protocol-lib not installed is. I installed Protocollib already so what now. Protocol lib version is 4.4.3 and the server is running on spigot 1.16.5

Please help me D:

[2021-06-12 16:41] NgLoader commented on #103
When you use /plugins is ProtocolLib green?

[2021-06-12 17:40] Zocker377 commented on #103
Yes

[2021-06-13 00:06] Ingrim4 commented on #103
Can you please provide us with a screenshot of your `/plugins` and the whole console log so we can investigate this further?

[2021-06-13 07:25] Zocker377 commented on #103
[2021-06-12-5.log](https://github.com/Imprex-Development/Orebfuscator/files/6643453/2021-06-12-5.log)
![Unbenannt](https://user-images.githubusercontent.com/44677320/121798915-4d726480-cc29-11eb-9467-bfad915c7715.PNG)

[2021-06-13 10:51] Ingrim4 commented on #103
Looks like your using an old version of OFC, here is the latest release: https://github.com/Imprex-Development/Orebfuscator/releases/tag/5.1.4

[2021-06-13 10:53] #103 closed, assigned to NgLoader

[2021-06-14 21:53] WillyJL opened #104 "Server.pro, MC 1.17 - java.lang.NullPointerException: null"
**Please fill out the following information:**

* Server Version: `CraftBukkit version 3141-Spigot-66f9d3c-72a2901 (MC: 1.17) (Implementing API version 1.17-R0.1-SNAPSHOT)`
* Orebfuscator Version: `5.1.4` official / also `5.1.4` from [1.17 dev branch](https://github.com/Imprex-Development/Orebfuscator/tree/96-1.17) ([artifact](https://github.com/Imprex-Development/Orebfuscator/actions/runs/9322004

[2021-06-14 22:37] Ingrim4 commented on #104
Fixed as of b3b448ddbda78bf2fe7e28b67e5407f8e3312c39

[2021-06-14 22:37] #104 closed, assigned to Ingrim4

[2021-06-15 03:49] ghost opened #105 "1.17 Support?"
I was wondering if there are plans or current progress towards making this 1.17 compatible? Currently, when I try to run it, I get this [error](https://pastebin.com/4dTxbQWv).

[2021-06-15 06:07] ghost commented on #105
I just saw the other issue discussing this, my bad.

[2021-06-15 06:07] #105 closed, assigned to nobody

[2021-06-16 22:06] #96 closed, assigned to nobody

[2021-06-17 09:01] MrPranklez commented on #100
It appears to be working from what i've seen using it the past few days

[2021-06-17 09:38] Ingrim4 commented on #100
Are you talking about the special version?

[2021-06-17 10:41] Ingrim4 opened #107 "Support for Github Packages"
**Describe your feature**

Create Github action to publish `orebfuscator-api` to Github Packages.

[2021-06-17 11:06] #107 closed, assigned to Ingrim4

[2021-06-19 12:57] Catogoodmen opened #110 "config section 'world-0.worlds' is missing or empty"
I have made sure the config is correct and I am using the correct world. But when I start up the server Orebfuscator does not work. I think it is something to do with the config.

1.17 (Game version)
5.1.5 (Plugin Version)
Build #512 (Protocolib)

[2021-06-19 15:43] Ingrim4 commented on #110
Then how about you upload your config....

[2021-06-21 14:28] FluffyDev1 opened #111 "World name with spaces - crash"
**Please fill out the following information:**

* Server Version: Paper version git-Paper-"33d6b6f" (MC: 1.17)
* Orebfuscator Version: 5.1.5
* Protocollib Version: 4.6.0

**Describe the bug**

Make a new world with spaces, and try to put  it in the worlds

[2021-06-21 14:38] NgLoader commented on #111
I currently cannot reproduce this bug.
Can you please provide an error log?

A minecraft server only allow world names matched by ``[a-z0-9/._-]``
Paper issue https://github.com/PaperMC/Paper/issues/5397

[2021-06-21 14:44] FluffyDev1 commented on #111
Wait, i get this error:
Error occurred while enabling Orebfuscator v5.1.5 (Is it up to date?)
java.lang.NoClassDefFoundError: com/comphenix/protocol/events/PacketAdapter

[2021-06-21 14:45] NgLoader commented on #111
You need to install the latest [protocollib](https://ci.dmulloy2.net/job/ProtocolLib/lastSuccessfulBuild/) version

[2021-06-21 14:46] FluffyDev1 commented on #111
i got protocollib

[2021-06-21 14:49] NgLoader commented on #111
your protocollib version is 4.6.0 but the latest version is [4.7.0](https://ci.dmulloy2.net/job/ProtocolLib/lastSuccessfulBuild/)

[2021-06-21 14:51] FluffyDev1 commented on #111
yea thanks

[2021-06-21 14:51] #111 closed, assigned to NgLoader

[2021-06-21 18:48] #110 closed, assigned to nobody

[2021-06-21 18:52] Catogoodmen opened #113 "Is there a way to change the engine mode like the original plugin"
Is there a way to change the engine mode like the original plugin so that it doesn't render all the ores.

![image](https://user-images.githubusercontent.com/86155056/122812857-24597000-d2ca-11eb-8508-0ce5949dc945.png)

[2021-06-21 20:05] NgLoader commented on #113
Yea, just edit the config.yml - See: https://github.com/Imprex-Development/Orebfuscator/wiki/Config#world

You need to remove ``stone`` from hiddenblocks and only add ``stone`` to randomblocks

[2021-06-26 17:10] Pledix opened #114 "Aristois Legit X-Ray bypasses Orebfuscator X-Ray Protection"
• Server Version: Purpur version git-Purpur-1171 (MC: 1.16.5)
 • Orebfuscator Version: 5.1.4
 • Protocollib Version: 4.6.1-SNAPSHOT-b503

Orebfuscator blocks xray resource packs and normal x-ray but can't block legit x-ray.

Normal X-Ray:
https://imgur.com/A5cJC3e

Legit X-Ray:
https://imgur.com/6Oj1Bv1

[2021-06-26 17:45] Ingrim4 commented on #114
You can block it if you also hide every ore with the proximity hider. This is caused by the fact that only none visible blocks are obfuscated every other block (e.g. ores at cave walls) are visible. We deliberately choose that setting as to not ruin the mining experience to much.

[2021-06-29 11:13] arch-user-france1 opened #115 "Could not load 'plugins/orebfuscator-plugin-5.1.5.jar' in folder 'plugins'"
**Please fill out the following information:**

* Server Version:  Newest 1.17 SpigotMC
* Orebfuscator Version:  5.1.5
* Protocollib Version:

**Describe the bug**
Reproduce: Ugrade to 1.17 and ObFu 5.1.5

Both can be:
Doesn't work after changing version in plugins folder &
SpigotMC 1.17 doesn't work prob. with Orebfuscator

org.bukkit.plugin.InvalidDescriptionException: Invalid plugin.yml
...
Cau

[2021-07-01 17:36] Ingrim4 commented on #115
Seems like this problem only exists on your end because I've never heard of anything like this happening. Please make sure you correctly downloaded the latest version of OFC: https://github.com/Imprex-Development/Orebfuscator/releases/tag/5.1.5

[2021-07-02 16:42] arch-user-france1 commented on #115
I had to download it again... Maybe I renamed it - mistake?

Bruh I just downloaded  https://github.com/Imprex-Development/Orebfuscator/releases/tag/5.1.5 with that:
wget  https://github.com/Imprex-Development/Orebfuscator/releases/tag/5.1.5
But that doesn't work because it is just the page to select what to download not the jar file

[2021-07-02 17:05] arch-user-france1 commented on #115
I still can't enabled it
it is asking me if it is the newest version and it is
It loads the plugin and crashes on start (bukkit names it enabling)

[2021-07-03 09:02] Ingrim4 commented on #115
Can you please provide more info like your Java version, server log and a list of other installed plugins?

[2021-07-16 09:17] Bahm opened #116 "Unable to compile"
* OS: Debian 10
* Orebfuscator Version: cloned
* Protocollib Version: none

**Describe the bug**

I'm unable to compile the project. I followed the instructions in the README (including Goals), first without adding the lines in the Maven subsection since I wasn't sure they were necessary, then (in a newly cloned folder) _with_ the Maven lines added in the relevant sections of ./pom.xml

**Debug ou

[2021-07-16 14:25] NgLoader commented on #116
The error says that the project plugin was not found, please make sure you followed the steps from the [readme](https://github.com/Imprex-Development/Orebfuscator#build).

Or look into github [build action](https://github.com/Imprex-Development/Orebfuscator/blob/master/.github/workflows/build.yml) there you can see how we build it.

**Note: Make sure you run the buildtools on your building machine

[2021-07-20 11:45] Linus42069 opened #117 "Does not fuscate ores"
* Server Version: 1.17.1
* Orebfuscator Version: 5.1.5
* Protocollib Version: 4.7.0

**Describe the bug**

Well basically the ores aren fuscated. When using xray (also being deop after re-logging and re-starting the server) I can clearly see all the ores. *Ive not edited the config*

**How to reproduce**

Install on Orebfuscator 5.1.5 and Protocolib 4.7.0 on a 1.17.1 Tunity server.

**EDIT:** Forg

[2021-07-20 20:13] WolfyRed opened #118 "Creeper explosions don't reload Orebfuscator"
**Please fill out the following information:**

* Server Version: git-Paper-655 (MC: 1.13.2)
* Orebfuscator Version: Orebfuscator version 5.1.5
* Protocollib Version: ProtocolLib version 4.7.0

**Describe the bug**

First, get TNT and Flint & Steel, or lure a creeper over to you.
Next, set the TNT off or get really close to the creeper.
The explosion will not update the surrounding blocks like min

[2021-07-21 18:19] S4murajGames commented on #117
i have the same problem :(

[2021-07-21 20:02] Ingrim4 commented on #117
Can't reproduce! Could it maybe be that your world isn't called "world"?

[2021-07-22 17:18] Sapu98 opened #119 "range of obfuscation"
It would be nice to be able to set the starting point of the obfuscation, like from y=30 to y=0, leaving everything above 30 clear.
(if it's already a thing, how do I do that?)

[2021-07-24 01:21] #113 closed, assigned to NgLoader

[2021-07-24 01:21] #114 closed, assigned to nobody

[2021-07-24 01:22] #115 closed, assigned to nobody

[2021-07-24 01:58] Ingrim4 commented on #118
If you're talking about the short time between the explosion and the block update where the fake blocks are briefly visible that isn't a bug. This probably happens because paper's explosions are async.

If however you mean fake blocks being permanently visible after an explosion that wouldn't be indented. We can't reproduce that if that would be the case. Should the later be your issue please try

[2021-07-25 14:19] Tomauskis commented on #117
You could mention that in description. Had the same problem.

[2021-07-25 18:06] Ingrim4 commented on #117
What do you mean? I don't think I need to mention that the default config is only configured for the default world names: world, world_nether, world_the_end. If you had read the wiki page about the config you could have known that: https://github.com/Imprex-Development/Orebfuscator/wiki/Config

[2021-07-25 19:12] Tomauskis commented on #117
I didn’t delve into that. I had multiple worlds and curent wasn't the "world", so this plugin didn't work. Discovered this in configuration file just recently.

[2021-07-26 11:06] ttt0 opened #120 "xray can be opened"
**Please fill out the following information:**

* Server Version: ![image](https://user-images.githubusercontent.com/66686400/126979068-535f0000-670d-4e57-9f77-d01a9387f793.png)
* Orebfuscator Version: ![image](https://user-images.githubusercontent.com/66686400/126979122-e1ec3fce-48d1-496e-b866-00ffffad6ea8.png)
* Protocollib Version: ![image](https://user-images.githubusercontent.com/66686400/126

[2021-07-26 11:06] ttt0 commented on #120
There is a texturepack in version 1.17.1 called xray ultimate and cheat can be opened

[2021-07-27 17:44] NgLoader commented on #120
Do you have the permission ``*`` or ``orebfuscator.bypass``?
Is your currently world in the config.yml?

When this does not solve your issue, please describe it more where the problem is.

[2021-07-27 21:07] #120 closed, assigned to NgLoader

[2021-08-01 08:01] Disk-MTH opened #121 "Chunks not load when obf is loaded"
(sorry for my bad English but I'm french)
Hello, when I load the plugin, players who can't have bypass obf permission fly in the void and chunks cannot load. (The problem was report in #100). I use obf 5.1.5, protocol lib 4.7.0 and mohist server last build. I use the default config of the plugin and I have try to edit the config with your config documentation but the problem is already here.
Need

[2021-08-01 09:45] #121 closed, assigned to Ingrim4

[2021-08-01 09:45] Disk-MTH commented on #121
problem solved : disable proximity

[2021-08-17 17:45] SlimeDog opened #122 "HeightAccessor failure"
**Please fill out the following information:**
Orebfuscator 5.1.5-b18
[code]

**Describe the bug**

On player connect, player does not "land", and:
[code]

[2021-08-17 19:04] #122 closed, assigned to Ingrim4

[2021-08-17 20:06] SlimeDog commented on #122
confirmed fixed in build 20. Thanks.

[2021-08-18 19:45] Ingrim4 opened #124 "Do some long overdue housekeeping"
**Describe your feature**

- [x] change `orebfuscator.admin` default from `true` to `op`
- [x] remove `ProtocolLib` from `loadbefore`
- [x] remove `load: POSTWORLD`
- [x] add `orebfuscator.*` permission
- [x] tidy up bstats memory metric

[2021-08-18 21:05] #124 closed, assigned to Ingrim4

[2021-08-20 01:51] fnrcum opened #127 "Server Operator exclusion list"
**Describe your feature**
A simple list to exclude the server operators from being affected by the obfuscator.

[2021-08-20 15:18] Ingrim4 commented on #127
We don't plan on adding a list of players that can bypass orebfuscator. We do however have a permission to bypass obfuscation called: `orebfuscator.bypass`.

[2021-08-20 22:29] fnrcum commented on #127
This is perfect, I just needed a way to debug stuff without having to take down the server and deactivate it first

[2021-08-20 22:59] #127 closed, assigned to nobody

[2021-08-30 14:45] steakperson opened #128 "an internal error occurred while attempting to perform this command"
when i try to do all of the orebfuscator commands such as /ofc reload, /ofc status etc it comes up with an internal error occurred while attempting to perform this command.
please help how do i fix this.

[2021-08-30 15:07] Ingrim4 commented on #128
As of now we currently haven't implemented or registered any commands. Could you maybe have used an extremely old version of Orebfuscator? The latest version can be found here: https://github.com/Imprex-Development/Orebfuscator/releases/latest

[2021-08-31 05:30] heathfx opened #129 "Feature: do not reveal proximity blocks to spectators"
**Describe your feature**
When a player is in spectate mode, add an option to never show blocks that are hidden by the proximity hider.

**why?**
I want to allow my users to spectate, but they get teleported back to their original position when exiting spectate mode. The problem is that this would allow them to easily search for exposed ore. If I could make it so proximity hidden ores are never ex

[2021-08-31 05:43] heathfx opened #130 "Feature: Geode hider"
**Describe your feature**
If the proximity hider could interpolate "geode air" and fill it with deepslate or stone depending on y-level, would be really good to prevent users from cheating at finding geodes with freecam. The problem is that geodes leave a very recognizable shape in the ground even after hiding them based on proximity.

If I could hide an entire geode and fill it and surrounding st

[2021-08-31 06:46] #82 closed, assigned to NgLoader

[2021-09-04 15:14] Ingrim4 commented on #129
This is something I see myself adding in the next update. Unfortunately I'm as of now short on time which is why it could be a while until the next update. However your welcome to contribute to Orebufscator yourself.

[2021-09-04 15:21] Ingrim4 commented on #130
Your feature would suggest that Orebfuscator is able to detect structures like geodes and dungeons which it currently isn't. To be quiet honest I don't think that is something we will ever implement into Orebfuscator since it would invole looking at multiple chunks in the obfuscation step which is already very expesive on the hardware. So unless you have a better and less resource intensive soulti

[2021-09-06 18:55] 0subzero commented on #100
Good day.
Looks like this version just doesn't work on 1.17.1, right? Because it just does nothing :(
yeah, found in the log:

#######################
[20:50:19] [Server thread/INFO]: [Orebfuscator] cache.protocolLibThreads is less than one, choosing processor count as value = 4
[20:50:19] [Server thread/INFO]: [Orebfuscator] Searching NMS adapter for server version "v1_17_R1"!
[20:50:19] [Server

[2021-09-06 22:00] Ingrim4 commented on #100
Someone once mentioned disabling the proximity hider would resolve the issue. If you could test that and tell us if that really resolved the issue I would have a starting point to finally fix this.

[2021-09-06 22:01] #128 closed, assigned to Ingrim4

[2021-09-06 22:02] #118 closed, assigned to Ingrim4

[2021-09-06 22:02] #117 closed, assigned to nobody

[2021-09-06 22:03] #116 closed, assigned to nobody

[2021-09-07 08:32] 0subzero commented on #100
Nope. Can't confirm that.
proximity:
- enabled: false

doesn't help with this problem.

[2021-09-07 13:50] Ingrim4 commented on #100
I will update the "special" version later today when I'm home so you can test it. Also feel free to add me on Discord to discuss this in more detail: Maurice#7519

[2021-09-07 21:34] #99 closed, assigned to nobody

[2021-09-08 17:37] Ingrim4 commented on #119
Should this work independently for obfuscation and proximity hider or should the both share the same limit?

[2021-09-08 18:11] Sapu98 commented on #119
I'm not sure what does the proximity hider do, is it the thing that reveals near blocks when a player interacts with them?
if it is, it should be the same.
Now idk how does your code work but this is the idea:
[code]

[2021-09-08 20:56] Ingrim4 commented on #119
I've come to the conclusion that it would make more sense to have them both separated since this would allow for more configuration. I will probably implement this in the next few days and add it to the next release.

P.S.

It's the thing that reveals obfuscated blocks once you get near them (you don't have to interact with them).

[2021-09-10 00:56] MetalMinurz opened #131 "Orebfuscator throwing out errors in Console"
Orebfuscator recently began throwing out errors for one of my players, ~~and caused him to reach pings of 10000ms and lag out several times even after a server restart.~~

Here is the pastebin: https://pastebin.com/9NuN2RAP

[2021-09-10 12:14] Ingrim4 commented on #131
**Please fill out the following information:**

* Server Version: (use "/version" command for server version)
* Orebfuscator Version: (use "/version Orebfuscator" command for Orebfuscator version)
* Protocollib Version: (use "/version ProtocolLib" command for ProtocolLib version)

[2021-09-10 16:10] MetalMinurz commented on #131
Apologies, the error was actually unrelated to the ping issue. Nevertheless, it still did create an error in console, albeit one that had no visible impact on the player.

Server Version: This server is running CraftBukkit version 3240-Spigot-6c1c1b2-332335e (MC: 1.17.1) (Implementing API version 1.17.1-R0.1-SNAPSHOT)
Orebfuscator Version: Orebfuscator version 5.1.6
ProtocolLib Version: ProtocolLi

[2021-09-10 18:42] Ingrim4 commented on #131
The error occurs whenever ChunkPackets are send but ProtocolLibs player instance is this a TemporaryPlayer. The TemporaryPlayer doesn't support permission requests hence why the error is "The method hasPermission is not supported for temporary players". I've looked a bit at ProtocolLibs implementation and I think I have two solutions: One would be to not request the permission from TemporaryPlayer

[2021-09-11 23:25] MetalMinurz commented on #131
Not sure if this matters, but I'm not actually using a dedicated permissions plugin. I'm using the bukkit permission system. There is also a plugin I'm using called "Plugin Hider Pro" (this seems like a bit of a stretch regarding the cause of the issue but I might as well mention it) which does block certain plugin packets from being sent to clients. Perhaps this is what's causing the problem? I'd

[2021-09-12 09:59] giantfurkii opened #132 "OREBFUSCATOR LAG PROBLEM"
The orebfuscator plug-in puts my server in the lag.
https://timings.aikar.co/?id=9e5b2770668049888d9a744f62a85b9c#plugins

[2021-09-12 10:20] NgLoader commented on #132
Please use an [issue template](https://github.com/Imprex-Development/Orebfuscator/blob/master/.github/ISSUE_TEMPLATE/bug_report.md) and fill out the informations in there.
So we can understand and handle your issue better!

When you permanently generate new chunk it is normal that ofc need more power to obfuscate the chunks but when you have enabled the cache ofc don't need to do that every time o

[2021-09-12 10:22] giantfurkii opened #133 "Orebfuscator Lag Problem"
**Please fill out the following information:**

* Server Version:  1.17.1
* Orebfuscator Version: 5.1.6
* Protocollib Version: 4.7.1 b531

**Describe the bug**

 The orebfuscator plug-in puts my server in the lag.
https://timings.aikar.co/?id=9e5b2770668049888d9a744f62a85b9c#plugins

[2021-09-12 10:22] giantfurkii commented on #132
https://github.com/Imprex-Development/Orebfuscator/issues/133

[2021-09-12 10:25] #132 closed, assigned to NgLoader

[2021-09-12 11:02] Ingrim4 commented on #133
The high CPU-Usage is due to the fact that Orebfuscator is obfuscation all chunks that aren't in the cache on the main thread. This can't be changed since Minecraft only allows chunk access from the main thread. If you haven't already activeted the cache I would highly recommand you to do so otherwise the next update will add a hight limit option to the config which could shorten the obfuscation s

[2021-09-12 12:31] #131 closed, assigned to Ingrim4

[2021-09-13 20:27] WolfyRed commented on #118
The problem was being caused by a plugin that lets you get all blocks from an explosion.

[2021-09-15 15:44] giantfurkii commented on #133
As you can see, it puts a lot of strain on it.
![image](https://user-images.githubusercontent.com/78488589/133465293-f2ba07cf-d58a-4547-a828-d3b8f7179491.png)

But if I reduce the blocks in this part, for example, like a stone, the lag problem decreases.
![image](https://user-images.githubusercontent.com/78488589/133465484-1ea2404b-a9e9-4282-99b2-1b4e50612038.png)

I think the plugin has an optimi

[2021-09-17 18:58] ZakariasBenzet opened #135 "xray bug that works"
I saw a stream of one of my players and they had x ray on that worked I don't know what pack they used but some kinda x ray pack workes

[2021-09-22 12:47] WolfyRed commented on #118
And even so, yes, the fake blocks being permanently visible after an explosion was what was occurring. It, however, went away after interacting with the fake ores.

[2021-09-22 13:18] NgLoader commented on #118
Please provide us more Information, were currently unable to reproduce you issue

[2021-09-27 16:46] Ingrim4 commented on #133
We are currently investigating a possible major performance improvement which should affect almost every system.

[2021-10-13 18:37] NgLoader commented on #135
See: https://github.com/Imprex-Development/Orebfuscator/wiki/Config#world

[2021-10-18 18:52] Frolijk opened #137 "Zip file"
**Please fill out the following information:**

* Server Version: This server is running Purpur version git-Purpur-1171 (MC: 1.16.5) (Implementing API version 1.16.5-R0.1-SNAPSHOT)
* Orebfuscator Version:  I can't install it.
* Protocollib Version:  Same as above

**Describe the bug**
Hey i just wanted to put the plugin into my server but it wont work when i put it straight in and restart.
How can

[2021-10-23 17:35] affo5 opened #138 "Config"
How do I config it to work in my world? I figured out how to make it work but wanted to name my world SMP. I am using apex server hosting and not sure how to make it so it works on this world named SMP.

[2021-10-26 12:39] Ingrim4 commented on #138
[code]

[2021-10-26 12:40] Ingrim4 commented on #137
Are there any errors in the console when you try to start your server with OFC.

[2021-10-26 12:44] #135 closed, assigned to nobody

[2021-10-26 12:47] #130 closed, assigned to nobody

[2021-10-27 21:54] blockswerker opened #140 "Pillar Mining Issue w. Silk Touch and Eff V"
Server Version: 1.17.1
Orebfuscator Version: 5.1.6
Protocollib Version: v4.7.0

I have a strange issue where players get "bumped" horizontally when mining straight down a pillar of Stone (or other block that can be Silk Touch mined such as Coal Ore) with a Diamond Pickaxe (Eff V and Silk Touch). This causes them to fall off the pillar, unless they go very slow and correct their horizontal position

[2021-11-08 02:27] affo5 opened #141 "Bypass"
I'm not sure how to bypass the obfuscator. I am an operator with access to the server files so how do I add myself to the list of not getting obfuscated?

[2021-11-08 02:30] #138 closed, assigned to Ingrim4

[2021-11-08 18:46] NgLoader commented on #141
[Wiki Permission](https://github.com/Imprex-Development/Orebfuscator/wiki/Permissions)

[2021-11-08 21:12] #129 closed, assigned to Ingrim4

[2021-11-08 21:16] NgLoader commented on #137
You need to download the spigot version from the original [spigot page](https://www.spigotmc.org/resources/orebfuscator-anti-x-ray.82710/) or [github releases page](https://github.com/Imprex-Development/Orebfuscator/releases)

When you use a dashboard where you can install plugins it will possible failing!

[2021-11-08 21:58] affo5 commented on #141
So this is saying that I can't bypass it. So if I can't, Who can? I also have access to the server console
Do I have to add myself to a list in the config or something.

[2021-11-08 22:00] affo5 commented on #141
![image](https://user-images.githubusercontent.com/92095946/140824962-37ee200c-bc3b-4b13-b037-7e179effbee6.png)

[2021-11-08 22:00] affo5 commented on #141
im the owner

[2021-11-08 22:02] affo5 commented on #141
it also says orebfuscator.admin is allowed in op but how do I use it

[2021-11-08 22:37] Ingrim4 commented on #141
You need the `orebfuscator.bypass` permission in order to bypass obfuscation. This permission is not set for *op* players by default.

[2021-11-09 02:33] affo5 commented on #141
so how do i set it for myself? and also if ops don't have access to it who does?

[2021-11-28 14:59] Ingrim4 opened #142 "Support for 1.18"
(self explanatory)

[2021-11-30 18:07] LeonTheDev-io opened #143 "Chunks wont load even after removing plugin"
* Server Version: git-paper-790 MC 1.16.5
* Orebfuscator Version: 5.1.6
* Protocollib Version: 4.7.0

**Describe the bug**

Hey, so I changed the random blocks in the config all to Minecraft:diamond_block, after /reloading the plugin the whole world disappeared, and even removing the plugin won't fix it.

[2021-11-30 18:14] LeonTheDev-io commented on #143
![image](https://user-images.githubusercontent.com/82466943/144104230-af877e81-1fee-42ba-8aa2-dbd7d98cda7a.png)

It looks like that... when I place sometihng it loads a few blocks near in

[2021-11-30 21:00] Ingrim4 commented on #143
If you remove the plugin and it still doesn't work then it's not the plugins fault.

[2021-12-01 06:06] LeonTheDev-io commented on #143
My bad, just restarted Minecraft and it worked, Minecraft issue.

[2021-12-01 06:06] #143 closed, assigned to Ingrim4

[2021-12-01 12:31] CodingLars commented on #141
That depends on what permission plugin you are using. If you use LuckPerms, then google how to set/unset permissions with it.
No one has access to it, if you haven't given anyone access to it.

[2021-12-01 16:22] MathReif opened #144 "orebfuscator didnt work, please help"
[21:30:47] [Server thread/INFO]: [Orebfuscator] Enabling Orebfuscator v5.1.6
[21:30:47] [Server thread/INFO]: [Orebfuscator] HeightAccessor found method: World::getMaxHeight()
[21:30:47] [Server thread/INFO]: [Orebfuscator] HeightAccessor found method: World::getMinHeight()
[21:30:47] [Server thread/ERROR]: [Orebfuscator] An error occurred while enabling plugin
[21:30:47] [Server thread/ERROR]: [O

[2021-12-01 18:06] Ingrim4 commented on #144
We are currently still working on an 1.18 port. (Duplicate of #142)

[2021-12-01 18:06] #144 closed, assigned to Ingrim4

[2021-12-01 19:54] #142 closed, assigned to Ingrim4

[2021-12-02 16:47] GreenDragon1612 opened #147 "I dont have the AntiXray"
**Please fill out the following information:**

* Server Version: /version 1.18
* Orebfuscator Version: /version 5.2.0
* Protocollib Version: /version 4.8.0

**Describe the bug**

The Orebfuscator doesnt work. I installed alle the versions but it doesnt work on 1.18. I dont know how do use the permissions so if anyone from the stuff can help me pls do it

[2021-12-02 17:01] ghost opened #148 "On the latest version, you can see ores through non-full blocks"
On the latest version of orebfuscator on 1.18, you can see the ores used to block xray through the corner of stairs
![image](https://user-images.githubusercontent.com/72661987/144468320-9d2a485f-ed1f-4be7-8fbd-e65ac7936437.png)

[2021-12-02 17:30] ToastedEggplant opened #149 "Snowy Mountains do not seem to play well with Orebfuscator"
**Please fill out the following information:**

* Server Version:3339-Spigot-3c40a6c-581df18 MC 1.18
* Orebfuscator Version: 5.2.0
* Protocollib Version: 4.8.0-SNAPSHOT-B538

**Mountains do not seem to play well with Orebfuscator**

 Heading over to snowy mountains and some of the non snowy mountains will produce this. I don't think blocks behind snow should be obfuscated. Maybe there's a config f

[2021-12-02 17:34] GreenDragon1612 commented on #149
bro how do you add orebfuscator to your world? it doesnt work on my Server

[2021-12-02 17:35] ghost commented on #149
I think this is the same issue I'm facing

[2021-12-02 17:35] #147 closed, assigned to nobody

[2021-12-02 17:38] ToastedEggplant commented on #149
Assuming you have spigot installed you can get the plugin [here ](https://www.spigotmc.org/resources/orebfuscator-anti-x-ray.82710/) and there are also instructions on that page on how to install it!

[2021-12-02 17:38] ToastedEggplant commented on #149
If you have any other instances of the issue feel free to post them for documentation!

[2021-12-02 17:39] ToastedEggplant commented on #148
Ah, I was writing up my issue at the same time this was posted, nice.

[2021-12-02 17:44] GreenDragon1612 commented on #149
I have Spigot installed and it doesnt work anyways.
![Bild_2021-12-02_184352](https://user-images.githubusercontent.com/95433630/144475261-9a1758b7-9990-44ce-8220-ee78e26f14e7.png)

[2021-12-02 17:52] GreenDragon1612 commented on #149
[18:48:58] [Server thread/INFO]: [Orebfuscator] Disabling Orebfuscator v5.2.0
[18:48:58] [Server thread/INFO]: [ProtocolLib] Disabling ProtocolLib v4.8.0-SNAPSHOT-b538

thats what the consol says

[2021-12-02 20:26] EasternAirTemple opened #150 "It doesnt show fake blocks when using a xray texturepack"
**Please fill out the following information:**

* Server Version:
* Orebfuscator Version:
* Protocollib Version:

**Describe the bug**

[2021-12-02 21:04] Ingrim4 commented on #150
Have you tried this: https://github.com/Imprex-Development/Orebfuscator/wiki/Common-Issues#i-dont-see-any-blocks-obfuscated

[2021-12-02 21:05] Ingrim4 commented on #149
I think I know what the problem is, let me do some testing and I will probably have this fixed today.

[2021-12-02 21:18] EasternAirTemple commented on #150
Thank you for responding i will try these things as soon as possible

[2021-12-02 21:20] ToastedEggplant commented on #149
Awesome! Thank you!

[2021-12-02 21:56] Ingrim4 commented on #148
Duplicate of #149

[2021-12-02 21:56] #148 closed, assigned to Ingrim4

[2021-12-02 22:01] #149 closed, assigned to Ingrim4

[2021-12-05 10:57] US861 opened #152 "add the plugin to site"
Please add the plugin to www.spigotmc.org.  I use Aternos hosting and cannot download to my server because the hosting only supports certain sites like spigotmc.org.  If you add, I will be very grateful!

[2021-12-05 12:29] molor commented on #152
wat
![image](https://user-images.githubusercontent.com/19989717/144746553-515b6729-2b2b-4993-bbdb-580611404b1d.png)

[2021-12-05 13:34] US861 commented on #152
![IMG_20211205_163359](https://user-images.githubusercontent.com/59504323/144748693-d6b545ff-e7cb-4fae-b289-89f557d1564f.jpg)

[2021-12-05 13:47] molor commented on #152
OMG, I'm sorry, didn't pay attention

[2021-12-06 04:54] US861 opened #153 "New Feature Suggestions"
Hello, while I was testing this plugin on my local network, I came up with some additions to this plugin.  1) So that it generates non-existent chests.  2) Raise the optimization a little (when the user looks down, the FPS drops by 20-30).  Thank you for the attention!

[2021-12-06 05:48] NgLoader commented on #153
https://github.com/Imprex-Development/Orebfuscator/wiki/Common-Issues#users-experience-low-fps

[2021-12-06 05:54] US861 commented on #153
Oh good.  what about chests?

[2021-12-06 06:15] #153 closed, assigned to NgLoader

[2021-12-06 13:19] US861 opened #154 "Supplementing functions"
Generate non-existent chests underground

[2021-12-06 16:23] #152 closed, assigned to nobody

[2021-12-06 18:51] NgLoader commented on #154
Just add ``minecraft:chest: 1`` to ``randomBlocks``

[2021-12-07 09:15] NickelWW commented on #150
Make sure you have the right world name in the config file! That was the issue for me.

[2021-12-07 12:14] #154 closed, assigned to NgLoader

[2021-12-09 10:32] striiki opened #155 "Ore's are shown on surface | Bug?"
Ye i got a picture to show you

i mean... its like:
![2021-12-09_11 28 58](https://user-images.githubusercontent.com/95854612/145379837-5181503c-35bb-4445-85b8-32f40ca2a49f.png)

i tried to change it in the config but it didn't work:
-------------
proximity:
- enabled: true
  worlds:
  - world
  distance: 24
  useFastGazeCheck: false
  defaults:
    y: 70
    above: false
    useBlockBelow: true
-

[2021-12-09 10:33] striiki commented on #155
Server Version: 1.17.1 Spigot
Orebfuscator Version: 5.2.1
Protocollib Version: newest

[2021-12-09 12:30] Ingrim4 commented on #155
Are you sure you're using OFC 5.2.1 because this should have been fixed in 5.2.1?

[2021-12-09 12:43] Ingrim4 commented on #155
Please also try to the delete your (orebfuscator) cache because I'm pretty sure I forgot to add the plugin version to the cache hash.

[2021-12-09 12:44] striiki commented on #155
Ye 100% sure that im using 5.2.1

[2021-12-09 12:48] striiki commented on #155
okay after deleting the cache folder it  worked thank you

[2021-12-09 12:51] Ingrim4 opened #156 "Cache doesn't get invalidated after plugin version change"
Plugin version should be part of the per chunk hash in the cache system.

[2021-12-09 12:53] Ingrim4 commented on #155
Created an issue where I will fix the cache not clearing on plugin version change: #156
Thank you for reporting that.

[2021-12-09 12:53] #155 closed, assigned to Ingrim4

[2021-12-10 20:51] #141 closed, assigned to NgLoader

[2021-12-10 21:44] #133 closed, assigned to Ingrim4

[2021-12-10 21:44] #156 closed, assigned to Ingrim4

[2021-12-10 21:45] #137 closed, assigned to NgLoader

[2021-12-10 21:47] Ingrim4 commented on #100
duplicate of #60

[2021-12-10 21:47] #100 closed, assigned to Ingrim4

[2021-12-11 20:30] Comitant opened #158 "1.18 fps drops"
Running default Orebfuscator on my 1.18 server almost halves player fps. I'm not sure if this is a bug or something that is unfixable, but the frame drops are really bad.

Using the latest version of orebfuscator and protocollib.

[2021-12-11 21:12] Ingrim4 commented on #158
See: https://github.com/Imprex-Development/Orebfuscator/wiki/Common-Issues#users-experience-low-fps

[2021-12-11 21:24] Comitant commented on #158
Yep that did the trick, thank you! Didn't read that before since I was in a hurry with how many people it was affecting.

[2021-12-11 21:24] #158 closed, assigned to Ingrim4

[2021-12-20 15:18] Rot4tion opened #159 "Blocks below zero are not protected in version 1.18.1"

[2021-12-20 16:06] Ingrim4 commented on #159
Have you update your config to work for negative `y`? Otherwise would recommend to just delete the config and use the default that ships with Orebfuscator.

[2021-12-21 01:35] Rot4tion commented on #159
thanks, it works perfectly.

[2021-12-21 17:11] #159 closed, assigned to Ingrim4

[2021-12-21 22:27] Ingrim4 commented on #140
We can't help you with the problem you're experiencing since we can't reproduce this and no one added something to this issue. That's why I will close this issue for now.

[2021-12-21 22:27] #140 closed, assigned to Ingrim4

[2021-12-22 21:06] #150 closed, assigned to Ingrim4

[2021-12-28 05:54] ItzDaster opened #162 "plugin is not working"
server version: 1.18.1
Orebfuscator version: 5.2.1
protocollib version: 4.7.0

Hello, I need help because the plugin doesn't work I was testing it on resource pack x-ray ultimate and it worked normally the plugin didnt hide the blocks.
What should I do?
Already readed the the issues.

[2021-12-28 18:19] TBK818 opened #163 "Console Error Message in 1.18.1"
Hello. I had previously been using this plugin in 1.17 and it worked fine. Now I am attempting to use it in a new 1.18.1 server and every time the server restarts, I receive this error message in console followed by a much longer error: [28.12 13:11:28] [Server] java.lang.NullPointerExceptionCannot invoke "net.imprex.orebfuscator.cache.ChunkCache.close()" because "this.chunkCache" is null. Every t

[2021-12-28 18:53] NgLoader commented on #163
Please fill out the following [template](https://github.com/Imprex-Development/Orebfuscator/blob/master/.github/ISSUE_TEMPLATE/bug_report.md)

Server Version:
Orebfuscator Version:
Protocollib Version:

[2021-12-28 18:55] NgLoader commented on #162
[Wiki Common-Issues](https://github.com/Imprex-Development/Orebfuscator/wiki/Common-Issues)

This could have many reasons so here is a short checklist to see if you did anything wrong:

- Check that the player doesn't have the orebfuscator.bypass permission
- Check if you have installed the latest version of Orebfuscator and ProtocolLib for your game version
- Check if there are any warnings in th

[2021-12-28 19:35] TBK818 commented on #163
Server Version: 1.18.1
Orebfuscator Version: 5.2.1
Protocollib Version: 4.7.0

[2021-12-28 22:13] NgLoader commented on #163
Can you please provide your complete log?
Please use pastebin.

[2021-12-28 22:42] TBK818 commented on #163
Here is the full error message in console: https://pastebin.com/9zM6Mi9y

[2021-12-30 18:46] tvdruten opened #164 "Invalid YAML config format"
**Please fill out the following information:**

* Server Version: 1.18.1
* Orebfuscator Version: 5.2.1
* Protocollib Version: 4.7.0

**Describe the bug**
When I load the plugin for the first time, without .yml config, the plugin works flawless. Because no config extists, the plugin generates one. This is where things go wrong. Next time I load my server, or use the reload command, orebfuscator is

[2021-12-30 19:04] tvdruten commented on #164
So I also tried setting up your config help: https://github.com/Imprex-Development/Orebfuscator/wiki/Config#proximity-block-options

I came up with the next config:

[code]

This config also fails... So either I'm a total pleb, or your config wiki is just unclear (no hard feelings)

I hope this and above message is enough information for this bug report. Thanks in advance

[2021-12-30 21:13] Bobcat00 opened #165 "No light data found for chunk..."
**Please fill out the following information:**

* Server Version: git-Paper-404 (MC: 1.17.1)
* Orebfuscator Version: 5.2.1
* Protocollib Version: 4.7.0

**Describe the bug**

Using ViaVersion 4.1.1, if a player connects with a 1.18.1 client, the console occasionally shows the following warnings:
[code]
Myles from ViaVersion says this means a plugin is _"sending light in the wrong order."_ Further,

[2021-12-31 12:16] Ingrim4 commented on #164
The Spigot-Devs changed the way configs are written/read (in this commit: [031731e60ec](https://hub.spigotmc.org/stash/projects/SPIGOT/repos/bukkit/commits/3e2dd2bc120754ea4db193e878050d0eb31a6894#src/main/java/org/bukkit/configuration/file/YamlConfiguration.java)) which in turn broke the way our config is set up. I will try to fix this today but can't promise anything.

[2021-12-31 12:17] Ingrim4 commented on #163
duplicate of #164

[2021-12-31 12:17] #163 closed, assigned to NgLoader

[2021-12-31 13:42] #164 closed, assigned to Ingrim4

[2021-12-31 14:04] Bobcat00 commented on #165
The Via* folks say to send the light data before the chunk/block data.
https://github.com/ViaVersion/ViaVersion/issues/2741#issuecomment-985003181

[2021-12-31 14:12] Ingrim4 commented on #165
Problem is that we don't touch the light packets, we only work with chunk packets. But chunk packets are handled async which means they are sent idepently of the light packets. Weird thing is since chunk packets are async they should always be sent after the light packet sometimes even multiple ticks later so I really don't know what the problem here is.

[2021-12-31 14:29] Ingrim4 commented on #165
What probably happens is the following:
- server sends light
- server sends chunk
- _orebfuscator starts processing chunk packet_
- server sends unlock chunk
- _orebfuscator sends processed chunk packet_

This would cause ViaVersion to store the light data  and delete it on chunk unload. Which in turn causes the delayed chunk packet to not contain any light data. Since the chunk is already unloade

[2021-12-31 14:45] Bobcat00 commented on #165
Ah, so the messages come from chunks which are unloaded? Sounds like it would be best to leave it alone (so they are unloaded) instead of delaying the unload. Server owners can put something in their log4j2.xml file to suppress the message from ViaVersion.

[2021-12-31 16:36] #119 closed, assigned to Ingrim4

[2022-01-01 14:03] tvdruten commented on #164
Thanks!

[2022-01-01 18:55] manni1989 opened #168 "Funktioniert"
Funktioniert auch das Plugins mit Paper 1.18.1

[2022-01-01 20:56] Ingrim4 commented on #168
yes it does.

P.S. you could have just tried it yourself 😅

[2022-01-01 20:56] #168 closed, assigned to Ingrim4

[2022-01-01 22:56] fabegalo opened #169 "Obfuscation does not work on 1.18 on layers below Y=0"
![image](https://user-images.githubusercontent.com/53371411/147861744-1e9ee5a5-9a08-4366-b377-809336fd29af.png)

**Please fill out the following information:**

* Server Version: Purpur version git-Purpur-1459 (MC: 1.18.1) (Implementing API version 1.18.1-R0.1-SNAPSHOT)
* Orebfuscator Version: Orebfuscator version 5.2.2
* Protocollib Version: ProtocolLib version 4.7.0

**Describe the bug**

Obfusc

[2022-01-01 23:04] Ingrim4 commented on #169
Have you tried deleting the config and if that doesn't fix it then please provide your config (not the default one) as [pastebin](https://pastebin.com/).

[2022-01-01 23:54] fabegalo commented on #169
Thanks, deleting the old configuration starts to work perfectly, but the default configuration comes with many blocks, bedrocks players have a lot of lag in this configuration, I'll see how I can adjust it to generate blocks in smaller amounts, thanks :D

[2022-01-02 01:15] #169 closed, assigned to Ingrim4

[2022-01-02 20:03] CombatMedic02 opened #170 "Chunks not loading?"
Hello, after updating to the new version of this plugin, 5.2.2, I am having the chunks not loading problem. This normally happens on login or after using a teleport command. Until I relog nothing loads. Before updating to this version when I teleported occasionally chunks would stop loading until I relogged.

My ProtocolLib is Dev Build #540 (2nd Jan) and I'm running Paper-1.18.1-117.

I'm not get

[2022-01-04 16:24] ghost commented on #170
same here (1.17.1 paper using latest version of this plugin), but i saw this error: https://pastebin.com/zHYafex8

[2022-01-04 18:33] Ingrim4 commented on #170
The error is related to the issue but only on version before 1.18, because this error can only occur on such versions and would cause chunk packets to get lost. This in turn would cause the client to not render chunks. Will fix that asap (for version before 1.18 in #171). Still not sure what the problem with 1.18 is though.

[2022-01-04 19:08] Ingrim4 opened #171 "invalid chunk handling pre 1.18"
Chunks pre 1.18 are currently treated like 1.18 chunks which isn't correct. In 1.18 every chunks is filled from the bottom to top with chunk sections. In previous version only chunk sections that are not empty are part of the chunk. This can cause the following error: https://pastebin.com/zHYafex8

[2022-01-04 19:47] #171 closed, assigned to Ingrim4

[2022-01-04 23:41] CombatMedic02 commented on #170
Yeah, it's weird, I'm not getting any errors or warnings though. Maybe they're connected somehow? Just wanted to let you know that it still happens in Paper 1.18-177. I'll let you know if updating either paper or ProtocolLib fixes the issue as that is what I'll try first once new builds are available.

[2022-01-06 15:30] Bobcat00 opened #173 "Exceptions with 1.17.1"
**Please fill out the following information:**

* Server Version: git-Paper-408 (MC: 1.17.1)
* Orebfuscator Version: 5.2.3
* Protocollib Version: 4.7.0

**Describe the bug**

I get multiple of the following exceptions. They appear to happen when teleporting. orebfuscator_cache was cleared before starting the server.
[code]

[2022-01-06 18:12] Ingrim4 commented on #173
Maybe I should start testing this on older versions of the game (or at least current version and the one before) xD

[2022-01-06 18:47] #173 closed, assigned to Ingrim4

[2022-01-07 15:04] Bobcat00 commented on #165
How about not sending the processed chunk data if the chunk is no longer loaded?

[2022-01-07 16:33] Ingrim4 commented on #165
Would have the same complexity since I would have to keep track of all chunks that every player has loaded/unloaded and consecutively cancel the obfuscation task which isn't planned with the current way the plugin works.

[2022-01-09 14:45] Bobcat00 commented on #165
I submitted a PR to ViaVersion for them to simply allow server owners to suppress the meaningless warning message from spamming the console, but they won't do it.
https://github.com/ViaVersion/ViaVersion/pull/2795#issuecomment-1008310150

[2022-01-09 14:57] ZappySK opened #175 "Chunk problem"
Hello, I am using WildTools on my server, where is 3x3 Pickaxes which breaks 3x3 hole, so my problem is that when players are using this pickaxes, they see this, can you fix this or how can i prevent this?
![image](https://user-images.githubusercontent.com/76651966/148687734-ebb357e0-368b-49f0-9948-aee1ce13530f.png)

[2022-01-09 14:57] ZappySK commented on #175
When they hit the diamond, it dissapear, so I need to fix this, how?

[2022-01-09 14:58] ZappySK commented on #175
https://bg-software.com/wildtools/

[2022-01-09 19:28] paperna commented on #60
So this problem is solved by disabling the Orebusacator cache?

[2022-01-09 20:26] Ingrim4 commented on #175
As far as I know `WildTools` would need to hook themself in our API for this to work. If this is something you need you could implement this yourself or try asking the `WildTools` devs if this is something they would want to do.

[2022-01-09 20:30] Ingrim4 commented on #165
I get what their saying technically this isn't their problem but ours. So they expect us to fix this. In a way this something I never planned on fixing but this probably needs fixing so expect an update in the next few week that will fix this behaviour.

[2022-01-09 21:17] Bobcat00 commented on #165
This took care of it:
`<RegexFilter regex="(^No light data found for chunk.*)" onMatch="DENY" onMismatch="ACCEPT"/>`

[2022-01-09 22:30] Ingrim4 commented on #170
Could you try if this fixed it for you: https://github.com/Imprex-Development/Orebfuscator/suites/4878107752/artifacts/139481868 (source: https://github.com/Imprex-Development/Orebfuscator/tree/test-fix-for-chunk-not-loading)

[2022-01-09 22:30] Ingrim4 commented on #60
Could you try if this fixed it for you: https://github.com/Imprex-Development/Orebfuscator/suites/4878107752/artifacts/139481868 (source: https://github.com/Imprex-Development/Orebfuscator/tree/test-fix-for-chunk-not-loading)

[2022-01-10 12:07] Demandss opened #176 "chests and other vaults"
* Server Version: 1.17.1 paper
* Orebfuscator Version: 5.2.4
* Protocollib Version: 4.7.0

Chests and other vaults are still visible through the resource pack and through the cheat

[2022-01-10 12:10] Ingrim4 commented on #176
Can you please provide your config as a https://pastebin.com/ and provide a link to the resource pack and the name of the world your testing this on.

[2022-01-10 12:33] Demandss commented on #176
The standard settings have not changed anything

[2022-01-10 12:45] Ingrim4 commented on #176
And what about the other two things I requested:

[2022-01-10 13:26] Demandss commented on #176
tested in all worlds, and I used cheat BleachHack and texture pack Xray Ultimate

[2022-01-10 13:39] Ingrim4 commented on #176
ok but what are the world's names, the default config only works with the default world names: `world`, `world_nether`, `world_the_end` and you also considered that the default deobfuscation distance of the proximity hider is `24` blocks right?

[2022-01-10 14:08] Demandss commented on #176
Yes

[2022-01-10 14:33] Ingrim4 commented on #176
Can you provide an example image cause for me it works perfectly fine.

[2022-01-10 20:09] CombatMedic02 commented on #170
Thanks Ingrim, I'll put this version on my server and will let you know if it helps. :)

[2022-01-10 23:47] CombatMedic02 commented on #170
Unfortunately the problem still persists. The best way to reproduce it is to teleport to spawn after being quite far away from it. I find that always seems to get me stuck in the void.

I had played for almost 4 hours with out it happening though so perhaps you're on the right track? But yeah, teleporting still seems to be an issue occasionally, the world just doesn't load after teleporting.

[2022-01-10 23:50] Ingrim4 commented on #170
So this did improve it though right? If that's the case then ProtocolLib is to blame (probably maybe). My last idea would be to ditch ProtocolLib and see how far that get's me but that would mean implementing a budget version of protocollib for every version from 1.9 - 1.18 so I would rather not. Might try this with 1.18 only and see if that fixes it for you and if that's the case I'm gone see if

[2022-01-10 23:54] CombatMedic02 commented on #170
It feels better. From what I played tonight anyway. But yeah, teleporting still causes the world not to load now and again until you log out and back in again (sometimes fixes it, sometimes doesn't) or teleport somewhere else then teleport back a couple of times.

I appreciate the hard work dude. I don't think any other anti-xray comes close to this one, the fact that you're so dedicated to keepin

[2022-01-11 00:00] Ingrim4 commented on #170
Just got a dumb idea, will try to not use async protocollib and see if it's a problem with the async pipeline.

[2022-01-11 00:05] CombatMedic02 commented on #170
Just thought of something else. It couldn't be some sort of conflict with the built in anti-xray that paper has could it? I read something about disabling a cache if using this plugin with paper but I couldn't find out how. It didn't really seem like people were sure about it either. They weren't sure if it causes problems or not since they use different methods of hiding the ore or something.

[2022-01-11 00:10] Ingrim4 commented on #170
You can just disable the cache in the config through setting cache.enabled to false. Here is a version without async protocollib: https://github.com/Imprex-Development/Orebfuscator/suites/4891084911/artifacts/140233717

P.S. Might be easier to communicate over discord just add me: Maurice#7519

[2022-01-11 23:24] QuestionCatcher opened #177 "Bugged chunks 1.18.1"
* Server Version: 1.18.1 with purpur build 1491
* Orebfuscator Version: 5.2.4
* Protocollib Version: 4.7.0

**Describe the bug**
When players were running around the world they often encountered "empty chunks".
The point is, some people visually saw the chunk but others didn't. Players flew  through blocks that were physically there but were not for the given player with the problem.
In this case,

[2022-01-14 07:17] yellow-pillow opened #178 "barrels"
**Please fill out the following information:**

* Server Version: SSSpigot2-1.17.1-20211210-711e92b (MC: 1.17.1) (Implementing API version 1.17.1-R0.1-SNAPSHOT)
* Orebfuscator Version: 5.2.4
* Protocollib Version: 4.8.0-SNAPSHOT-b539

**Describe the bug**

Hiding barrels does not work (maybe they are hidden only when turned in a certain direction)

[2022-01-14 09:01] #178 closed, assigned to Ingrim4

[2022-01-14 19:15] Ingrim4 commented on #177
Currently working on a fix. Here is a temp version that should fix it: https://github.com/Imprex-Development/Orebfuscator/suites/4891314412/artifacts/140246701

[2022-01-21 04:29] somekoder opened #179 "Seems to stop working below a certain Y level"
Server Version: git-Paper-82 (MC: 1.18.1) API version 1.18.1-R0.1-SNAPSHOT
Orebfuscator Version: 5.2.4
Protocollib Version: 4.7.0

Orebfuscation seems to stop working below a certain Y level: ~ -40
![2022-01-20_23 25 15](https://user-images.githubusercontent.com/49205285/150465562-c11c0ce4-fde4-4491-93ba-2cf820b373bf.png)

![2022-01-20_23 28 39](https://user-images.githubusercontent.com/49205285/1

[2022-01-21 04:29] somekoder commented on #179
[config.txt](https://github.com/Imprex-Development/Orebfuscator/files/7910398/config.txt)
Config kinda ripped in there, here's another one

[2022-01-21 21:02] Ingrim4 commented on #179
I just tried your config and it works perfectly fine for me. (Used latest spigot, protocollib and orebfuscator version). Are your sure your method of testing isn't flawed?

[2022-01-21 21:25] somekoder commented on #179
This is the xray resource pack I used while testing:
https://www.curseforge.com/minecraft/texture-packs/xray-ultimate-1-11-compatible

I'll try updating my version of paper and see what happens

[2022-01-22 10:53] Toggl3Combo opened #180 "What is this error ?"
<details>
  <summary>Error</summary>

[code]
</details>

[2022-01-22 17:40] Ingrim4 commented on #180
This error can't be caused by Orebfuscator directly, please check if your running the latest ProtocolLib, Spigot (fork) and no other plugins. If the error still occurs please add a comment to this issue and tell us what version of Spigot (fork) and ProtocolLib you are using.

[2022-01-22 17:42] #175 closed, assigned to Ingrim4

[2022-01-22 20:08] somekoder commented on #179
So I updated my paper version to the latest and unfortunately it seems to have the exact same behavior... I'm wondering if this is because I'm running paper? I'm also running [Terralith](https://www.curseforge.com/minecraft/mc-mods/terralith) so I'm not sure if that could be causing the issue. I'll try a few things and post back here if I discover anything

[2022-01-23 13:56] ShirefReda opened #181 "lag"

[2022-01-23 13:57] ShirefReda opened #182 "lag"
Im getting low fps with the plugin installed idk why
i didnt edit anyting in the config file
1.18.1 paper

[2022-01-23 14:53] somekoder commented on #179
I tried Paper's Anti-Xray Engine 2 and it had very similar behavior, so this problem might not be directly related to this mod... I'll close the issue for now until more information is discovered.

Thanks @Ingrim4

[2022-01-23 14:53] #179 closed, assigned to Ingrim4

[2022-01-23 16:24] #181 closed, assigned to Ingrim4

[2022-01-23 16:24] Ingrim4 commented on #182
https://github.com/Imprex-Development/Orebfuscator/wiki/Common-Issues#users-experience-low-fps

[2022-01-23 16:24] #182 closed, assigned to Ingrim4

[2022-01-24 06:36] xXjojojXx commented on #177
I agree the problem is also

[2022-01-26 01:00] Delta203 opened #183 "CompletionException: java.lang.NullPointerException"
**Please fill out the following information:**

* Server Version: spigot 1.12.2 (final build)
* Orebfuscator Version: orebfuscator-plugin-5.2.4.jar
* Protocollib Version: ProtocolLib.jar 4.7.0

**Describe the bug**
The plugin is working absolutely fine. However, after I join my normal world. My console get spammed like this:
[code]
...

This are actually two different errors but they are both java

[2022-01-26 10:52] fitydollar opened #184 "orebfuscator won't work"
I am using shockbyte to host my server and you can download plugins from the website and it automatically puts them into the plugin folder. i used the latest versions to both orebfuscator (5.2.4) and protocolLib (4.7.0) and nothing happens when i use an xray pack and it shows all the ores normally. I don't even know how to use the "orebfuscator.bypass" because i dont know where to type it, i check

[2022-01-27 00:13] Ingrim4 commented on #162
closed due to inactivity

[2022-01-27 00:13] #162 closed, assigned to NgLoader

[2022-01-27 01:32] Ingrim4 commented on #183
Will be fixed in the next update till then here's a pre-release version with the fix applied: https://github.com/Imprex-Development/Orebfuscator/suites/5076431459/artifacts/151155150

[2022-01-27 12:28] yellow-pillow opened #186 "idea"
Hi, I've seen a lot of people suggest doing an entity anti xray

I propose to make it a separate project (plugin)
And I have an idea how to do it:
you can replace mobs with libs disguise for example with bats, which surely nobody wants))

this is possible? or it will create a big lag? interested in your opinion!)

[2022-01-27 18:28] Delta203 commented on #183
Nice thank you!

[2022-01-27 18:28] NgLoader commented on #184
Checkout [wiki](https://github.com/Imprex-Development/Orebfuscator/wiki/Common-Issues)

[2022-02-04 00:39] 830008 commented on #184
Mine isn't working either.

[2022-02-04 00:40] 830008 commented on #184
I followed everything in the wiki.

[2022-02-05 18:57] Ingrim4 commented on #186
This still wouldn't eliminate the issue of detecting if the entity is visible to a player. Aside from that doing a distance based check would hinder the gameplay even more cause entities usually have a wide streaming distance and a tendency to move. The only reason we're even using the distance based proximity hider for blocks is because people usually remember where they placed a block (+ blocks

[2022-02-05 19:01] Ingrim4 commented on #184
Ok but how do you expect us to help you without a config/world names/any info at all. 😅

[2022-02-08 00:38] Dallas-Boi opened #190 "Using SlimeFun doesn't update the blocks"
### Description

I am using Slimefun and there is a programable mining bot and when using it, it doesn't update the blocks so that they are back to normal. Is this a problem with the plugin or the way it was coded todo this?

### Reproduction Steps

Made a bot mine in a direction and the blocks didn't refresh

### Expected Behaviour

I thought the programable robot was able to refresh the area so

[2022-02-09 21:10] NgLoader commented on #190
You need to report this issue to slimefun since they are the ones that have an integration for orebfuscator. Tell them something along the lines of the mining bot doesn't work properly with the orebfuscator integration.

[2022-02-09 21:10] #190 closed, assigned to NgLoader

[2022-02-11 12:31] cryofgaming opened #191 "Everything bugged, that could be bugged"
### Description

So im using the latest "fix" for this plugin (https://github.com/Imprex-Development/Orebfuscator/issues/177#issuecomment-1013389079) but pretty much everything is broken, which could be broken.

- Players are invisible
- Items that got dropped are invisible
- Already dropped items, when collecting them, visible stay on the ground
- When you die, you cannot see your dropped items (

[2022-02-11 14:05] Craftphips opened #192 "There is no bypass"
### Description

I can't find the part where orebfuscator.bypass is located in the confic.yml and in the wiki is no clear "tutorial" how to deactivate it for op's/spectators.
I didn't changed anything in the confic

### Reproduction Steps

I only went into spectator

### Expected Behaviour

It would be nice if someone can give me an instruction how to do this.

### Server Details

Spigot 1.18.1

#

[2022-02-11 14:09] #192 closed, assigned to nobody

[2022-02-11 14:14] Craftphips opened #193 "Better Tutorial for orebfuscator.bypass."
### Description

Hello,
i couldn't find a useful "tutorial" for the orebfuscator.bypass config. I have my own minecraft spigot server, but when I go to the spectator the anti x-ray activates, and my fps drop like shit. In the config.yml I can't find it and there is no command to do this. Can someone pls help me with this?

### Proposed Behaviour

Just a short text with pictures or a video that sho

[2022-02-11 18:06] NgLoader commented on #193
``orebfuscator.bypass`` is a permission for your permission plugin to bypass orebfuscator.
When have FPS issues please read [common issues #users-experience-low-fps](https://github.com/Imprex-Development/Orebfuscator/wiki/Common-Issues#users-experience-low-fps)

When you don't use a permission plugin you can use the default [bukkit permission system](https://bukkit.fandom.com/wiki/Permissions.yml)

[2022-02-11 22:08] Ingrim4 commented on #191
We can reproduce what you describe but are sadly unable to fix this as of now seeing as we have no time and other issues with a higher priority. We have however narrowed the issue down to the entity streaming range and the way Magma is sending items. This issue only occurs when the player is teleported which might indicate that Magma can't handle the async nature of Orebfuscator since Magma expect

[2022-02-21 13:29] ghost commented on #182
Do I only need to change minecraft:cave_air (line 61) to 1 (or is another amount recommended?) or all blocks because the article says the weight of air but there is just one air entry?

[2022-02-22 20:08] Ingrim4 commented on #182
You should either decrease or completly remove every occurrence of air (`cave_air`, `void_air` or `air`) that is inside your config if it's an issue for you.

[2022-02-23 12:34] ghost commented on #182
There is only one `air` entry and that's `cave_air` in line 61.

[2022-02-23 16:37] Ingrim4 commented on #182
![grafik](https://user-images.githubusercontent.com/8127996/155364192-2c04c192-5a94-4dac-9671-3be3d9ae3ec4.png)
from https://minecraft.fandom.com/wiki/Air

It's all air (`cave_air`, `void_air` or `air`) just with different names is that so hard to understand?

[2022-02-23 19:11] ghost commented on #182
Bro is it so hard to understand there is ONLY **ONE AIR entry** no matter of what type. There is only `cave_air` and no `air` or `void_air` in the config...

[2022-02-23 19:40] Ingrim4 commented on #182
You should either decrease or completly remove every occurrence of air (any type of air doesn't matter what type...)

[2022-02-24 20:50] SuperTost100 opened #194 "How to remove plugin"
### Description

Guide for remove the plugin

### Proposed Behaviour

Can I remove the plugin by delete it or it will leave all the obfuscation package visible and bugged?

### Extra Details

_No response_

[2022-02-24 21:13] #194 closed, assigned to nobody

[2022-02-25 06:25] EliteAppleHacks opened #195 "Blocks like chests and hoppers on surface also is placed with random blocks"
### Description

As title says, random blocks and chests at surface level is blocked. I know theres max and minY but the values are +-2031 but minecraft is much smaller. What would it be replaced at instead?

### Reproduction Steps

Plugin enabled

### Expected Behaviour

no hiding of ores and such above y level 50 or something

### Server Details

1.16.5

### Orebfuscator Version

5.2.4

### Prot

[2022-02-25 17:16] Ingrim4 commented on #195
Just set the `maxY` to `50` (or whatever value suits your use case) in your config for all the worlds that should only obfuscate till `Y=50`. Please keep in mind that there are multiple configs (`obfuscation` and `proximity`) inside the `config.yml`. For more infomation about the config please visit our [wiki](https://github.com/Imprex-Development/Orebfuscator/wiki/Config).

[2022-03-04 18:15] Ofek270704 opened #196 "ping prob (lags)"
### Description

Hello im using 1.18.1 java 17 6gb ram server, when i am with the plugin it causes very high ping and the server gets so much lags how do i fix this and the plugin causes much more high ping and lags when player dies when i disable the plugin all the probs are gone. May you help me guys to fix this?

### Reproduction Steps

server lags

### Expected Behaviour

reduce the plugin's l

[2022-03-06 03:23] #196 closed, assigned to nobody

[2022-03-06 11:37] xXjojojXx opened #197 "[12:28:26 ERROR]: [bukkit.orebfuscator] [Orebfuscator] Server version "v1_18_R2" is currently not supported!"
### Description

[12:28:26 INFO]: [Orebfuscator] Enabling Orebfuscator v5.2.4
[12:28:26 ERROR]: [bukkit.orebfuscator] [Orebfuscator] An error occurred while enabling plugin
[12:28:26 ERROR]: [bukkit.orebfuscator] [Orebfuscator] Server version "v1_18_R2" is currently not supported!
java.lang.RuntimeException: Server version "v1_18_R2" is currently not supported!
        at net.imprex.orebfuscator.N

[2022-03-06 15:07] Ingrim4 commented on #176
closed due to inactivity

[2022-03-06 15:07] #176 closed, assigned to Ingrim4

[2022-03-06 15:08] #186 closed, assigned to Ingrim4

[2022-03-06 15:08] Ingrim4 commented on #184
closed due to inactivity

[2022-03-06 15:08] #184 closed, assigned to NgLoader

[2022-03-06 15:09] #197 closed, assigned to nobody

[2022-03-06 15:10] Ingrim4 commented on #180
closed due to inactivity

[2022-03-06 15:10] #180 closed, assigned to Ingrim4

[2022-03-06 20:29] #183 closed, assigned to Ingrim4

[2022-03-06 20:29] #177 closed, assigned to Ingrim4

[2022-03-06 20:29] #170 closed, assigned to Ingrim4

[2022-03-06 20:29] #60 closed, assigned to Ingrim4

[2022-03-07 12:55] IPECTER opened #201 "Low tps and Many Lag (Not Client)"
### Description

![image](https://user-images.githubusercontent.com/80433772/157038267-4fc8c0d5-0924-41c4-bc3b-d5ff95ec630e.png)
hmm....
https://timings.aikar.co/?id=079d6191299d4927b27d6a0ec0a4eddc
(already removed all air)

### Reproduction Steps

just use this plugin

### Expected Behaviour

lag

### Server Details

git-purpur-1566 1.18.1

### Orebfuscator Version

5.2.5

### ProtocolLib Versio

[2022-03-07 13:09] IPECTER commented on #201
![image](https://user-images.githubusercontent.com/80433772/157040537-5a9bc323-d999-4f57-bb72-588bf488b2f8.png)

[2022-03-07 18:40] Darkmager opened #202 "Some Fake Ores rendering"
### Description

for a example When i am mining at y14 in nether some ancient debris show but when u click on them they are actually a different ore
My config: https://justpaste.it/3gsew

### Reproduction Steps

https://imgur.com/a/MB5KCUb

### Expected Behaviour

Ores showing correctly

### Server Details

Paper 1.18.2 build 234

### Orebfuscator Version

5.2.5

### ProtocolLib Version

ProtocolL

[2022-03-08 19:27] Ingrim4 commented on #201
Looks like your server can't load chunks fast enough. Normally this wouldn't be a problem because we limit the amount of ms per tick since version 5.2.2 of Orebfuscator to a default 10ms per tick. The way it works is we check every 4 chunks we loaded how much time it took and stop loading chunks if the threshold is reached. This would mean that your server needs on avg 224.16ms per four chunks whi

[2022-03-08 21:19] #202 closed, assigned to nobody

[2022-03-09 00:59] Focxer opened #204 "Light issue"
### Description

Orebfuscator just screw up the light of my worlds, replacing illumination blocks cant fix it, when the server restarts... all goes black again

### Reproduction Steps

idk, i just download the plugin and boom, chunks goes dark

### Expected Behaviour

just hide blocks?!

### Server Details

git-Paper-794 (MC: 1.16.5) (Implementing API version 1.16.5-R0.1-SNAPSHOT)

### Orebfuscato

[2022-03-09 16:34] Ingrim4 commented on #204
Orebfuscator only manipulates chunk packets which contain no information about light which makes it impossible for Orebfuscator to break light on your server. My guess would be that your using other plugins that modify packets (which break because of Orebfuscator) or your world is weirdly pregenerated/edited.

[2022-03-10 01:06] #201 closed, assigned to nobody

[2022-03-10 04:01] #193 closed, assigned to Ingrim4, NgLoader

[2022-03-12 06:20] xEchoes opened #205 "Plugin Doesn't Start"
### Description

Doesn't start after it was downloaded. Error message here:

[00:14:54 ERROR]: Error occurred while disabling Orebfuscator v5.2.6 (Is it up to date?)
java.lang.NullPointerException: Cannot invoke "net.imprex.orebfuscator.cache.ObfuscationCache.close()" because "this.obfuscationCache" is null
        at net.imprex.orebfuscator.Orebfuscator.onDisable(Orebfuscator.java:95) ~[orebfusca

[2022-03-12 20:07] Ingrim4 commented on #205
Can you please provider your full log as the error you provided isn't the first one but only the by-product of another previous exception.

[2022-03-12 20:09] xEchoes commented on #205
yup

[14:08:40 INFO]: [Orebfuscator] Enabling Orebfuscator v5.2.6
[14:08:40 WARN]: [bukkit.orebfuscator] [Orebfuscator] config section 'advanced' is missing, using default one
[14:08:40 ERROR]: [bukkit.orebfuscator] [Orebfuscator] An error occurred while enabling plugin
java.lang.NullPointerException: Cannot invoke "org.bukkit.configuration.ConfigurationSection.getKeys(boolean)" because "obfuscati

[2022-03-12 20:15] Ingrim4 commented on #205
It appears as if your config is wrongly formatted or configured, please delete your config so Orebfuscator can regenerate the default one.

[2022-03-12 20:29] xEchoes commented on #205
works, thanks

[2022-03-13 02:17] #205 closed, assigned to nobody

[2022-03-13 14:45] enels0n opened #206 "Server kicks player when teleporting"
### Description

Periodically, teleportations lead to a break in the connection between the player and the server.

### Reproduction Steps

Tested version: 1.12.2, 1.18.1
Just send a teleporting command like /home. But it is not always possible to cause a problem.

### Expected Behaviour

1.12.2: I have the error in console, but server doesn't kick me.
1.18.1: Error and kick.

### Server Details

[2022-03-14 22:50] dotI0 opened #207 "Blocks like furnaces, chests and crafting tables are rendered as wrong block after joining"
### Description

After joining a server, blocks as furnaces, chests etc. are rendered as a wrong block as long as you don't click it.

### Reproduction Steps

Install plugin on Paper 1.18.2 and join a server with visible furnaces and chest at your location

### Expected Behaviour

Blocks should be rendered as right block if visible at join position

### Server Details

Paper version git-Paper-242

[2022-03-16 10:58] shinefield opened #208 "After installation nothing works"
### Description

After installation nothing works

### Reproduction Steps

Copy and paste to start the server

### Expected Behaviour

Perspective should not see minerals

### Server Details

catserver1.12

### Orebfuscator Version

orebfuscator-plugin-5.2.6

### ProtocolLib Version

ProtocolLib4.8.0

### Logs and Configs

no error log, default config

### Extra Details

_No response_

[2022-03-16 19:35] Ingrim4 commented on #204
Will probably be fixed in the next update till then here's a pre-release version with the fix applied: https://github.com/Imprex-Development/Orebfuscator/suites/5686860028/artifacts/187003615

[2022-03-16 19:36] Ingrim4 commented on #207
Can you please tell me if this patch fixed it for you: https://github.com/Imprex-Development/Orebfuscator/suites/5686860028/artifacts/187003615

[2022-03-16 19:36] Ingrim4 commented on #206
Can you please tell me if this patch fixed it for you: https://github.com/Imprex-Development/Orebfuscator/suites/5686860028/artifacts/187003615

[2022-03-17 06:57] enels0n commented on #206
https://pastebin.com/S8xS2Lcq
(When unloading chunks, new errors began to appear. https://pastebin.com/NAuwT03p )

[2022-03-17 10:59] dotI0 commented on #207
Unfortunately not.. :(

![2022-03-17_11 58 36](https://user-images.githubusercontent.com/54602589/158795111-50f39a4b-a946-4ad2-88f4-1cf81c43d59a.png)

[2022-03-17 11:07] dotI0 commented on #207
Unfortunately, the blocks are now always rendered incorrectly. Not like before, where the blocks were correct again when the chunk was reloaded. When I click a block, it becomes normal. If I then walk away (or change dimensions, or log out) and come back, the blocks are rendered incorrectly again.

[2022-03-17 12:50] Ingrim4 commented on #207
That's weird, the patch waits till the player successfully received the chunk and then checks if an proximity hidden blocks can be deobfuscated. It works for so idk what's the problem. Do you have any other plugins installed that could mess with packets and their send order?

[2022-03-17 13:16] dotI0 commented on #207
These are my Plugins:
![image](https://user-images.githubusercontent.com/54602589/158816368-a40aabc9-43c3-4817-9f64-78e82eb9758b.png)

[2022-03-18 13:20] Ingrim4 commented on #207
You could try setting `advanced.useAsyncPacketListener` ([useAsyncPacketListener](https://github.com/Imprex-Development/Orebfuscator/wiki/Config#advanced)) to `false` that might do the trick.

[2022-03-18 22:36] NgLoader commented on #207
Did you really tested the latest version?
Normally your file name shoud be ``orebfuscator-plugin-5.2.6-b131.jar`` and not ``orebfuscator-plugin-5.2.6.jar`` when your using Ingrim4's patch.

[Download Patch](https://github.com/Imprex-Development/Orebfuscator/suites/5686860028/artifacts/187003615)

[2022-03-18 22:43] dotI0 commented on #207
I replaced Ingrim4's patch with the original file after testing, because the patch makes the problem much worse than it is.
(Seen in my comment after testing the patch)

I will test the option advanced.useAsyncPacketListener and let you know if it works.

[2022-03-18 22:57] dotI0 commented on #207
Now the blocks are completely invisible when joining with them in the visible area.
But the blocks will become visible if the player moves slightly.
I think that should work for me and the players on the server.

If not, I will tell you.
Thank you very much for your help!!

On Join:
![2022-03-18_23 54 33](https://user-images.githubusercontent.com/54602589/159094767-61fd7a2c-c4ab-4cb1-99d4-e081a060

[2022-03-21 18:48] Ingrim4 commented on #208
Can you maybe specify what's not working because "nothing works" isn't particularly helpful?

[2022-03-21 18:52] Ingrim4 commented on #206
The new error is weird because the chunk packet supposedly uses 128 bits per block which isn't possible. Is your world tampered with in any way, like world pre-gen, custom world gen, world painter or something like that? Are you using any mods that change packets, networking or the world?

[2022-03-21 23:04] enels0n commented on #206
[Plugin list](https://dump.viaversion.com/0a56af000635d918d3b016b9e9cc1b5ee7da41cdebe921160285da97215563e5)
Only pregeneration by WorldBorder

And I have the [same issue](https://github.com/Imprex-Development/Orebfuscator/issues/207)

[2022-03-28 09:17] shinefield commented on #208
@Ingrim4 Minerals have no camouflage

[2022-03-28 09:27] #207 closed, assigned to nobody

[2022-03-29 19:51] Daniel3614 opened #209 "1.18.2 Orebfuscator Not Working Using X-Ray Ultimate Pack"
### Description

I downloaded and installed the latest version of both plugins twice. There was no errors in the console when the server loaded. Yet the plugin does not work when using an X-Ray Ultimate resource pack.

### Reproduction Steps

1. Download both plugins.
2. Insert both .jar in the Plugins folder.
3. Start server.
4. Join world.
5. Use latest version of X-Ray Ultimate resource pack fo

[2022-03-29 23:09] NgLoader commented on #209
Checkout [wiki](https://github.com/Imprex-Development/Orebfuscator/wiki/Common-Issues#i-dont-see-any-blocks-obfuscated)

[2022-04-11 03:31] KioProject123 opened #210 "Delete unnecessary Listeners to optimize"
### Description

BlockPhysicsEvent is a heavy event, and the falling blocks will trigger EntityChangeBlockEvent too
EntityInteractEvent is a heavy event, and entity destroy blocks will trigger EntityChangeBlockEvent too
(Entity stepping on red stone ore will trigger a large number of EntityInteractEvent)

So there is no need for BlockPhysicsEvent and EntityInteractEvent to exist.

### Proposed Beh

[2022-04-13 20:21] Ingrim4 commented on #210
Thanks for the recommendation. We first added the BlockPhysicsEvent due to issue #202 which it turns out wasn't our fault but a bug in spigot [SPIGOT-6962](https://hub.spigotmc.org/jira/browse/SPIGOT-6962). Regarding the EntityInteractEvent we will remove it (as well as the BlockPhysicsEvent) since all usefull calls of the event get covered by the EntityChangeBlockEvent.

[2022-04-13 21:22] #210 closed, assigned to Ingrim4

[2022-04-14 01:04] d3adwolf opened #212 "Endless loading of the world while the plugin is running"
### Description

I have a proxy server Waterfall and under it three Purpur servers, I updated ProtocolLib to the current and working build, updated your plugin from 5.2.5 to 5.2.6 and when you enter the server with this plugin (Purpur 1.18.2) and me endless loading world, plus the server writes that the overload.

### Reproduction Steps

Go to the server with the plugin > download world > ♾

### E

[2022-04-14 03:24] KioProject123 commented on #212
I'm not sure whether it's ProtocolLib or Orebfuscator or Purpur problem.
The latest release version instead of the build version of ProtocolLib does not have this problem.
So I guess this is the problem caused by ProtocolLib

[2022-04-14 07:47] d3adwolf commented on #212
All fixed, the problem was ProtocolLib, so you were totally right, thanks. There was a build under version 5.0.0, I downloaded the stable 4.8.0 and everything worked fine, why I did not notice the stable version before - I do not understand. In any case, thanks for the help!

[2022-04-14 07:47] #212 closed, assigned to nobody

[2022-04-17 03:20] ghost opened #213 "Config gets reset every time I apply changes"
### Description

I edit the files so the weight of stone is higher than all the others, I reload/restart server to apply changes (after applying changes to the file of course.), and then the weight of stone gets changed back to one.

### Reproduction Steps

Edit config.yml
Change any weight value
Restart/reload server
All values set to default.

### Expected Behaviour

Edit config.yml
Change weigh

[2022-04-17 07:33] KioProject123 opened #214 "PlayerInteractEvent Listener may not be required"
### Description

Player farming will trigger BlockBreakEvent (break dirt) and BlockPlaceEvent (place farmland).
If PlayerInteractEvent is only used to deobfuscate farming, then it is not needed.

### Proposed Behaviour

N/A

### Extra Details

I tested it on 1.18.2

[2022-04-17 07:45] KioProject123 commented on #214
I did some more tests, but it doesn't seem to be what it says above. Sorry my mistake

[2022-04-17 07:45] #214 closed, assigned to nobody

[2022-04-17 08:58] NgLoader commented on #213
Your using an older version, in this version from ofc is storing the files on load and unload.

Please use the lastest release version

[2022-04-21 20:59] Wispect opened #215 "Plugin not working"
### Description

I already followed these steps

Check that the player doesn't have the orebfuscator.bypass permission
Check if you have installed the latest version of [Orebfuscator](https://github.com/Imprex-Development/Orebfuscator/releases) and [ProtocolLib](https://ci.dmulloy2.net/job/ProtocolLib/) for your game version
Check if there are any warnings in the console about a wrongly configured

[2022-04-21 23:37] NgLoader commented on #215
The problem may be due to magma, I will test that tomorrow

[2022-04-22 01:44] Wispect commented on #215
I tried it and it "worked" only it doesn't load the world

[2022-04-26 15:07] Lisojelen opened #216 "Plugin Orebfuscator not working"
### Description

so after dowloading on the server protocol Lib, and Orebfuscator, and restarting server the plugin does not work. Did not even create it's folder in plugins folder

### Reproduction Steps

Install the plugins ProtocolLib, and Orebfuscator on a paper-1.18.1-216 server.

### Expected Behaviour

working as normal

### Server Details

paper-1.18.1-216

### Orebfuscator Version

5.2.6

[2022-04-26 15:16] Lisojelen commented on #216
so now something happend, and after like 5th restart plugin created it's folder, but still does not work

[2022-04-27 20:10] NgLoader commented on #216
Can you please share us the console output?

[2022-04-28 00:55] NgLoader commented on #215
Maybe, it is because of magma.
Please read the comment from Ingrim4 in https://github.com/Imprex-Development/Orebfuscator/issues/191#issuecomment-1036672745

[2022-04-28 13:35] NgLoader commented on #216
You don't have installed ProtocolLib.

**[Server thread/ERROR]: Could not load 'plugins/orebfuscator-plugin-5.2.6.jar' in folder 'plugins' org.bukkit.plugin.UnknownDependencyException: Unknown/missing dependency plugins: [ProtocolLib]. Please download and install these plugins to run 'Orebfuscator'.**

[2022-04-28 17:45] NgLoader commented on #208
Checkout [Wiki](https://github.com/Imprex-Development/Orebfuscator/wiki/Common-Issues#i-dont-see-any-blocks-obfuscated)

[2022-05-11 10:02] NotNoison opened #217 "Removed plugin"
### Description

Hey I removed the plugin and everytime I break block in creative it's a visual of the ores and it's just really annoying.

### Reproduction Steps

Break a natural stone in the world after removing the plugin.

### Expected Behaviour

Nothing when breaking a stone or netherrack

### Server Details

Pufferfish 1.18

### Orebfuscator Version

4.4.3

### ProtocolLib Version

4.80

###

[2022-05-11 10:10] NotNoison commented on #217
![Ij3fLvt9UX](https://user-images.githubusercontent.com/86527549/167825740-ea07f24b-fd99-4250-a9af-24e7e11058f0.gif)

[2022-05-11 10:23] Ingrim4 commented on #217
Looks to me like you didn't remove Orebfuscator from your server unless your server has some kind of packet cache which I highly doubt. To be 100% sure you removed Orebfuscator you could execute `/protocol dump` on your server and provide the content of the dump file to us or check yourself if there are still Orebfuscator listeners in which case you didn't remove Orebfuscator.

[2022-05-11 10:25] NotNoison commented on #217
It seems like it's something in my paper.yml

[2022-05-11 10:28] NotNoison commented on #217
https://pastebin.com/Qj8wveda When I replace my paper.yml it is fixed but when I use my optimized one it doesn't work
..

[2022-05-11 10:31] NotNoison commented on #217
https://pastebin.com/i1RJ3jBc -> This is my optimized paper

[2022-05-11 10:35] Ingrim4 commented on #217
You enabled paper's built-in anti-xray in line 274 of your paper.yml. This has nothing to do with Orebfuscator.

[2022-05-11 10:38] NotNoison commented on #217
Omg I'm retarded I looked at it for so long trying to figure out what's wrong.

[2022-05-11 11:20] NgLoader commented on #217
So, the problem is fixed?

[2022-05-13 12:44] #209 closed, assigned to NgLoader

[2022-05-13 12:44] #213 closed, assigned to NgLoader

[2022-05-13 12:46] #208 closed, assigned to NgLoader

[2022-05-13 12:47] #216 closed, assigned to NgLoader

[2022-05-13 12:49] #195 closed, assigned to Ingrim4

[2022-05-16 18:51] 91leMAC opened #218 "I see anything, I see just the sun and the cloud"
### Description

I have instal this plugin, every work. But the generation are very very slow.
When I disconnect and I reconnect, I can't see anything. I can't moove, place a block.

For resolving I run /reload and then I see normally all blocks I can break and place a block.
But world edit plugin will not work and after a fiew second of lagging/freezing I got disconnected
the error :
time out

##

[2022-05-17 16:57] NgLoader commented on #218
Checkout our wiki [Some/all chunks aren't sent/rendered (world appears empty)](https://github.com/Imprex-Development/Orebfuscator/wiki/Common-Issues#someall-chunks-arent-sentrendered-world-appears-empty)

[2022-05-24 10:36] NotNoison commented on #217
Yes sorry for the delays lol you can close this.

[2022-05-25 16:18] #217 closed, assigned to NgLoader

[2022-05-26 12:02] legendofgow commented on #196
How you fixed ping problem?

[2022-05-26 19:23] NgLoader commented on #196
Update to the latest version or checkout the [wiki](https://github.com/Imprex-Development/Orebfuscator/wiki/Common-Issues#users-experience-low-fps)

[2022-05-30 03:12] Jtcoop opened #219 "Engine mode 1 does not work and breaks config file"
### Description

When changing the engine mode from "version: 2" to "version: 1" the plugin stops working altogether and makes the config file significantly smaller, deleting all of the blocks that are hidden and replaced for each dimension. The config needs to be deleted and regenerated to fix it. I am very confused by this. The plugin works well but I preferred engine mode 1 in previous versions

[2022-05-30 15:44] Ingrim4 commented on #219
I don't know what you're referring to as engine mode 1 but the field that you changed is the config version which our documentations explicitly tells you not to change unless you have good reason to do so: https://github.com/Imprex-Development/Orebfuscator/wiki/Config

[2022-05-30 17:12] NgLoader commented on #219
Checkout #113

[2022-06-08 10:58] FielSteve opened #220 "update 1.19"
### Description

i want the plugin to be supported to 1.19, looking forward to it.

### Proposed Behaviour

I currently have a 1.19 server but I don't dare to open it for fear of being xray player, this will lose the quality of the game

### Extra Details
plugin is very good after my FPS settings as well as others have not dropped, I hope the plugin will go to 1.19

[2022-06-08 11:17] NgLoader commented on #220
This Plugin will be updated to 1.19 soon

[2022-06-08 13:37] FielSteve commented on #220
thank you, I really support that plugin :))

[2022-06-08 17:20] #220 closed, assigned to nobody

[2022-06-09 20:17] DOSEV5 opened #222 "Remove Protocolib"
### Description

Hello mr developer. Why this plugin need protocolib.
You updated this plugin for 1.19 really fast... that is good. But now i need to wait for protocolib 1.19 and i dont know when this will happen. Protocolib developer activity is realy low, so i think it wont be soon. Sooo. Why dont you make the plugin without protocolib ,because now it is specifically slowing down the update proc

[2022-06-09 23:57] Ingrim4 commented on #222
No we need ProtocolLib! Just use their dev versions: https://ci.dmulloy2.net/job/ProtocolLib/

[2022-06-09 23:57] #222 closed, assigned to nobody

[2022-06-10 20:48] #219 closed, assigned to NgLoader

[2022-06-11 01:40] JustSomeDude69 opened #223 "How do I use the OFC permissions"
### Description

How do i give myself the perms for stuff like orebfuscator.bypass how do i do that? do i write it in the chat or what? sorry for being dumb

### Reproduction Steps

idk

### Expected Behaviour

i expected it to be a command

### Server Details

PaperMc 1.18.2

### Orebfuscator Version

5.3.0

### ProtocolLib Version

4.8.0

### Logs and Configs

_No response_

### Extra Details

_

[2022-06-11 05:00] NgLoader commented on #223
Checkout [Permission issue](https://github.com/Imprex-Development/Orebfuscator/issues/193#issuecomment-1036475793)

Or you can just use a permission system plugin like LuckPerms, PermissionX or something else. 😃

[2022-06-13 17:10] FinnDetlev opened #224 "weird Chat message"
### Description

Idk why but Orebfuscator is posting a message every few seconds into the chat

### Reproduction Steps

![image](https://user-images.githubusercontent.com/67942455/173407856-c25b50c8-99cb-4091-aee1-77e188c0949d.png)

### Expected Behaviour

lol

### Server Details

PAPER 1.19 Build #10

### Orebfuscator Version

5.3.0

### ProtocolLib Version

4.8.0

### Logs and Configs

_No respo

[2022-06-13 17:12] FinnDetlev commented on #224
i think it isn't problem with Orebfuscator its ProtocolLib

[2022-06-13 17:34] NgLoader commented on #224
Please use the latest ProtocolLib [build](https://ci.dmulloy2.net/job/ProtocolLib/lastSuccessfulBuild/)

[2022-06-24 00:30] #224 closed, assigned to NgLoader

[2022-06-24 00:30] #223 closed, assigned to NgLoader

[2022-06-30 13:59] TheUnsocialEngineer opened #225 "Wall hack bypass"
### Description

Meteor clients wall hack bypasses the ore obfuscation. only works for ores with exposed sides however this could still lead to veins of ore being found
![image](https://user-images.githubusercontent.com/96296891/176695209-70797578-5979-42b2-a028-79c9fb210b55.png)

### Reproduction Steps

Meteor client set wall hacks set the blocks shown in the image to translucent in the settings,

[2022-07-01 15:38] Ingrim4 commented on #225
There is already a feature which can be enabled trough the  `useFastGazeCheck` setting inside a proximity config. I would however strongly advise to not use this since it's extremely resource intensive and optimized. We also don't plan on improving the feature since occlusion culling is more of GPU task then a CPU as far as I know.

[2022-07-01 15:38] #225 closed, assigned to nobody

[2022-07-04 04:37] Skapes7 opened #226 "Loading Terrain When Joining Dedicated Server"
### Description

Im having an issue where whenever players try to join the server (Only Orebfuscator and ProtocolLib installed) the client gets stuck on "Loading Terrain". The server still registers the player joining, and audio can be heard through the client (NPC's moving etc.). Occasionally this error doesn't occur and the player can join the server, but relogging or changing dimensions causes

[2022-07-04 21:12] Ingrim4 commented on #226
Have you tried if [`advanced.useAsyncPacketListener`](https://github.com/Imprex-Development/Orebfuscator/wiki/Config#advanced) set to `false` is fixing the issue for you?

[2022-07-05 09:23] Skapes7 commented on #226
Yup that seems to have worked - that was a simple fix
Thanks!

[2022-07-05 09:23] #226 closed, assigned to nobody

[2022-07-05 14:35] Craftphips commented on #193
Thanks that works, can you show me how to make a permission only for players in spectator mode?

[2022-07-08 03:38] FielSteve opened #227 "Multiverse-Core"
### Description

Hi, I have created 2nd overworld on server using Multiverse-Core plugin and named it world2, but anti xray doesn't run on world2, so I want a way to make Orebfuscator plugin run on world2?

### Proposed Behaviour

is there any way to add world2 in config?

### Extra Details

.

[2022-07-08 06:24] NgLoader commented on #227
Checkout [wiki](https://github.com/Imprex-Development/Orebfuscator/wiki/Config#obfuscation-config-section)

[2022-07-09 01:17] #227 closed, assigned to nobody

[2022-07-11 13:33] NgLoader commented on #193
Please ask this question in your permission system.

Or did you mean something like that [wiki ignoreSpectator](https://github.com/Imprex-Development/Orebfuscator/wiki/Config#general)

[2022-07-15 08:58] DimaSergeew opened #228 "Bug with hidden ores"
### Description

there is a bug that are not hiding happy below minus coordinates

### Reproduction Steps

using cheats with Xray enabled, go below 0, on game version 1.19

### Expected Behaviour

Ores must be hidden completely

### Server Details

Mirai 1.19

### Orebfuscator Version

5.3.0

### ProtocolLib Version

Assembly #575 (07.07.2022 7:53:38)

### Logs and Configs

_No response_

### Extr

[2022-07-15 21:33] NgLoader commented on #228
Please first checkout this sites:
- [Common Issues - I Don't see any blocks obfuscated](https://github.com/Imprex-Development/Orebfuscator/wiki/Common-Issues#i-dont-see-any-blocks-obfuscated)
- [Config - Obfuscation config section](https://github.com/Imprex-Development/Orebfuscator/wiki/Config#obfuscation-config-section)

Or your using an old version, try to rename the current config file and chec

[2022-07-17 18:21] DimaSergeew opened #229 "Chunks disappear in 1.19"
### Description

My friend and I have the orebfuscator plugin on the servers, and it happens that at the same time all the chunks on the server disappear and the players cannot move. We thought the problem was in the kernel, but the kernel developer, having studied everything about our server, said to apply here, indicating that the reason is in the orebfuscator, it happens that over time, chunks

[2022-07-17 18:22] #228 closed, assigned to NgLoader

[2022-07-19 16:27] Ingrim4 commented on #229
The exception you're getting looks strange, it would involve the a thread loosing the lock which should be impossible in any scenario that I can think of. What Java version do you use and could you try updating it? Cloud you send me the output of this command (executed on your dedicated machine (Windows/Linux/MacOS)): `java --version`?

Should look something like this:
[code]

[2022-07-19 19:28] jinglebryce opened #230 "Orebfuscator gives errors while starting."
### Description

Orebfuscator gives this error while starting, then gives another error while trying to disable itself.

I have attempted a few things such as disabling the cache, downgrading orebfuscator, removing some recently updated plugins, all to no avail.

### Reproduction Steps

I... have no idea. This started happening randomly after I took a week-long break from my server.

### Expected

[2022-07-19 20:29] NgLoader commented on #230
Please try to rename your currently orebfuscatior config to something else and let it be regenerated.
Its seems that you have modified your config and deleted the wrong values.

[2022-07-19 21:05] Ingrim4 commented on #230
Also consider updating to the [latest version](https://github.com/Imprex-Development/Orebfuscator/releases/latest).

[2022-07-20 11:59] DimaSergeew commented on #229
![Screenshot_1](https://user-images.githubusercontent.com/75163645/179976454-4b2dc139-5dc5-4812-a7b6-a621efd245f2.png)

[2022-07-20 16:01] VaclavKlima opened #231 "Option "deleteRegionFilesAfterAccess" not working"
### Description

Today I looked at the cache folder and it had 36Gb of data which means that the plugin is not deleting old data...
I looked in the config and I had the default value for the "deleteRegionFilesAfterAccess" (2 days).
Then I looked in the folder and found files that were updated a month ago and so on...

### Reproduction Steps

Cache some chunks and then don't load them for more than

[2022-07-20 16:57] Ingrim4 commented on #231
I haven't done any testing yet but cache files only get deleted if the file's `lastAccessTime` is older then the configured value. So are you sure the files haven't been accessed in the last 2 days?

[2022-07-20 17:03] Ingrim4 commented on #229
Temurin should be fine so I can't really tell how to fix this. There is however the option of simply disabling the cache inside the config ([`cache.enabled`](https://github.com/Imprex-Development/Orebfuscator/wiki/Config#cache)) which should only slightly degrade performance.

I could also add an option to only disable the file cache and keep the memory cache enabled which would also mitigate the

[2022-07-20 17:04] #229 closed, assigned to nobody

[2022-07-22 07:56] SnowS0ng opened #232 "Unable to intercept a read client packet"
### Description

I keep getting spammed with a message in chat ever since i added the pluggin
![image](https://user-images.githubusercontent.com/71718836/180391035-805f4e74-8109-4de0-b679-5a6bb0e47812.png)

### Reproduction Steps

Insert orefuscator pluggin into server with protocalLib
Op yourself

### Expected Behaviour

No Chat Spam

### Server Details

This server is running Paper version git-P

[2022-07-22 20:32] NgLoader commented on #232
Duplicate of #224

[2022-07-22 20:32] #232 closed, assigned to nobody

[2022-08-09 18:18] mrlota29 opened #233 "high ram"
### Description

There is a high ram on the server, when I remove the plugin the ram is dropping. I noticed that when I delete the orebfuscator_cache file, the ram drops for a few hours.

### Reproduction Steps

idk

### Expected Behaviour

.

### Server Details

purpur 1.18.2

### Orebfuscator Version

5.3.0

### ProtocolLib Version

protocolib 4.8.0

### Logs and Configs

https://timings.aikar.c

[2022-08-09 19:46] Ingrim4 commented on #233
What exactly does `high ram` mean and how did you measure that?

[2022-08-10 11:36] mrlota29 commented on #233
/gc /tps and console stats

[2022-08-10 11:36] mrlota29 commented on #233
I don't know what happened, plugin stopped working today. Is red. Nothing was done with it

[2022-08-10 11:44] mrlota29 commented on #233
as I remove the plugin, the ram falls off

[2022-08-10 16:01] MossCG commented on #191
pls try fix this, this problem exists on my servers these days

[2022-08-13 08:52] NgLoader commented on #191
Can you please provide some more info?
- Server version:
- Orebufscator version:
- ProtocolLib version:
- Timings:

[2022-08-13 08:54] NgLoader commented on #233
Can you please provide some more info?
Like log files?

[2022-08-13 12:20] adabugra opened #234 "server lag"
### Description
[code]
### Reproduction Steps

It happens every 5 minute and server compeletely freezes

### Expected Behaviour

.

### Server Details

paper-1.16.5-794

### Orebfuscator Version

orebfuscator-plugin-5.3.0

### ProtocolLib Version

5.0.0-SNAPSHOT-B593

### Logs and Configs

_No response_

### Extra Details

_No response_

[2022-08-21 12:50] lexteer opened #235 "Plugin doesn't work"
### Description

I installed The Orebfuscator and downloaded ProtocolLib. I also disabled my bypass. That I tried putting on Xray and nothing happens. I see all ores as I would normaly.

### Reproduction Steps

Install Orebfuscator,
Install ProtocolLib,
Disable orebfuscator.bypass with luck perms,
put on Xray.

### Expected Behaviour

To work! Stone should be viewed as different ores.

### Server

[2022-08-21 13:26] Ingrim4 commented on #235
Make sure you follow this guide: https://github.com/Imprex-Development/Orebfuscator/wiki/Common-Issues#i-dont-see-any-blocks-obfuscated

If that didn't help please provider your config and world name.

[2022-08-27 13:06] mateuszanierusza opened #236 "What is the time of the cache config"
### Description

In last days my server was working for 2 days and after about this time I have to always clear the cache manually in the orebfuscator_cache because there is a 8Gb used disk space from orebfuscator cache file. I want to know what is the values there. Is there write in KB, MB or GB and seconds, minutes or hours. Because I dont know how to setup this.

cache:
  enabled: true
  baseDi

[2022-08-27 13:16] NgLoader commented on #236
Checkout our [wiki](https://github.com/Imprex-Development/Orebfuscator/wiki/Config#cache)

[2022-08-28 15:59] MrEDok opened #237 "Falling throught the world"
### Description

I don't know if it problem with replay mod or Orebfuscator but when you relog while riding a horse (only mod that we tested) you will fall 100 orso block below where you relog while using replay mod.

Server: git-Purpur-1768 (MC: 1.19.2)*
Plugin: Orebfuscator version 5.3.0

### Reproduction Steps

1.19.2 Client

Client: have replay mod on.

Server:
config:
**Enable proximity**

[2022-08-28 16:23] NgLoader commented on #237
When you disable OFC, is it still bugged?
You can try to disable the async cache.

[2022-08-28 16:52] MrEDok commented on #237
When disable Orebfuscator player doesn't fall throught the world anymore.

Assuming to disable async cache is this
cache:
  enabled: false
  Result: Still falling throught the world

useAsyncPacketListener: false
  Result: Still falling throught the world

  Abit more testing:
  This seem to only happen with HORSE and SKELETON_HORSE **WITH** SADDLE if without saddle you wont fall throught the worl

[2022-08-28 23:09] NgLoader commented on #237
I check it tomorrow

[2022-08-29 21:22] Ingrim4 commented on #237
Orebfuscator only modifies the chunk packets without change anything server-side which means the server should be able to stop the player from falling through the world. This can only mean that Purpur doesn't check the players position and allows the player to go through walls or in your case the floor. Nothing we can do about it since we have to modify the packets async in order to not lag the se

[2022-08-31 03:41] Nicholindo opened #238 "Every once in a while an error keeps popping up *obfuscating chat*"
### Description

every once in a while this error pops up in chat "Error Unable to intercept a read client packet.(javalang.IllegalArgumentException: Unable to find a field null with the type com.mojang.authlib.GameProfile in net.minecraft.network.protocol.login.PacketLoginInStart) occured in com.comphenix.protocol.injector.netty.ChannelInjector@71d4947f."
![Screenshot_1](https://user-images.githu

[2022-08-31 04:12] NgLoader commented on #238
Duplicate of #224

[2022-08-31 04:13] #238 closed, assigned to NgLoader

[2022-08-31 12:06] Nicholindo commented on #224
Yes, but can you add more to explaining why does this issue happen because both me and @GrasshopperGit  have the latest build of ProtocolLib, and it seems it is the one causing the issue here. Also is there a way to fix the problem?

[2022-08-31 18:53] NgLoader commented on #224
Yea, ur using the latest version for 1.18 not for 1.19 which has internal changes in ProtocolLib which occurred the chat message.
Download the latest protocollib version from jenkins, not from spigot! ``the spigot version is for 1.18``
You can find the latest jenkins build [here](https://ci.dmulloy2.net/job/ProtocolLib/lastSuccessfulBuild/)

You can also see that on the spigot page from Protocolli

[2022-08-31 19:05] Nicholindo commented on #224
It did fix the problem thank you very much gentleman.

[2022-08-31 20:11] MrEDok commented on #237
This also happen on paper `git-Paper-135 (MC: 1.19.2)`
This does not happen on spigot `CraftBukkit version 3579-Spigot-e53686f-dd0a218 (MC: 1.19.2)`

So i assume it something todo with paper chunk system.

[2022-09-08 21:20] Ingrim4 commented on #215
closed due to inactivity

[2022-09-08 21:20] #215 closed, assigned to nobody

[2022-09-08 21:20] Ingrim4 commented on #218
closed due to inactivity

[2022-09-08 21:20] #218 closed, assigned to NgLoader

[2022-09-10 09:36] #230 closed, assigned to NgLoader

[2022-09-10 09:36] #231 closed, assigned to nobody

[2022-09-10 09:36] #234 closed, assigned to nobody

[2022-09-10 11:53] Ingrim4 commented on #236
`deleteRegionFilesAfterAccess` represents the milliseconds since the last time the file got accessed (read or write) meaning if the file got used in the last two days it won't be deleted. You can however set the time much lower, the internal scheduler tasked with the cleanup of files runs every hour meaning the lowest time that would make sense is one hour. This would however kind of the defeat th

[2022-09-10 11:53] #236 closed, assigned to nobody

[2022-09-12 19:30] Bobcat00 opened #241 "Holes in obfuscated chunks"
### Description

If I use an xray texture pack, there are various "holes" in obfuscated parts below ground, where I can see into the void. As I move around, the holes also move around, and some chunks that show the ores will disappear again.

Note this is in the overworld.

To be clear, the plugin is still effective, but why are these holes there and why do they change?

![2022-09-12_15 14 46](htt

[2022-09-13 14:11] zPqguro03 opened #242 "Freecam deobfuscation issue"
### Description

https://user-images.githubusercontent.com/20030855/189920462-0246194b-7eef-4560-9946-80809e0bdbd0.mp4

Using any hack client that has freecam, it is possible to de-obfuscate blocks by breaking them when used.
I tried to set up updateOnBlockDamage to false but the issue is not solved.

### Reproduction Steps

Download any hack client that has freecam (in the video i'm using MatHax)

[2022-09-13 17:56] Ingrim4 commented on #242
First of all the `distance` setting in the proximity config is based on the player's position and movement and not any interaction with blocks.  Meaning if the distance of a player to an obfuscated block is less then the configured value the block will get deobfuscated. (From our wiki: `The proximity hider obfuscates surface-level blocks and reveals them to nearby players. This can be helpful sinc

[2022-09-20 07:10] KweezyCode commented on #179
![image](https://user-images.githubusercontent.com/36813920/191191356-67e784ba-e030-48b5-b2d6-d8b9d102665a.png)
i have same issue, any fix?

[2022-09-20 07:49] NgLoader commented on #179
Please check your config that you have set the right **y** value [Wiki Config](https://github.com/Imprex-Development/Orebfuscator/wiki/Config#obfuscation-config-section)

When you upgrade from a older version of OFC the config will not automatically change the value.

[2022-10-04 16:14] Chevels opened #244 "Error "An error occurred while obfuscating chunk...""
### Description

Hello :)
For a few days when a member of the server is at its base, I have this error messages which spams my console : see **Logs and config section**

I specify that there was no modification of config, nor of update before this problem appears. It appeared for no apparent reason.

### Reproduction Steps

Get close to the chunks reported in the error messages. As soon as this ar

[2022-10-04 19:28] Ingrim4 commented on #244
Could you please provide the region file of the affected chunk (`r.-4.-5.mca` of world `Heavy`)? This would help enormously with debugging. Additionally it would help if you could provide the contents of a protocollib dump (execute `/protocol dump` on your server).

[2022-10-23 00:05] BRBKING opened #245 "adding to another dimension"
### Description

adding the pluing to the a resource world how would i got about that

### Reproduction Steps

none

### Expected Behaviour

none

### Server Details

This server is running Paper version git-Paper-"09904fd" (MC: 1.19.2) (Implementing API version 1.19.2-R0.1-SNAPSHOT) (Git: 09904fd) You are 96 version(s) behind Download the new version at: https://papermc.io/downloads

### Orebfusc

[2022-10-25 16:58] Chevels commented on #244
Hello,
Sorry, I didn't answer because I was waiting for it to happen again so I could do the /protocol dump command at the time of the bug.
The problem is that it did it for 2-3 days, then it doesn't do it anymore...
Do you want me to give the region file anyway or I wait first to see if the bug reoccurs ?

[2022-10-26 00:43] Ingrim4 commented on #244
Nah just send me the region file and you can execute the `/protocol dump` command anytime. The content of the command is important no matter if the bug occurred or it didn't.

[2022-10-26 13:03] dol4iua opened #246 "Chunks are not loaded"
### Description

[04:57:51] [ofc-chunk-serializer/WARN]: java.io.IOException: Unable to read chunk: [CraftWorld{name=world}, -2, 604]
[04:57:51] [ofc-chunk-serializer/WARN]: 	at orebfuscator-plugin-5.3.0.jar//net.imprex.orebfuscator.cache.ChunkSerializer.read(ChunkSerializer.java:54)
[04:57:51] [ofc-chunk-serializer/WARN]: 	at orebfuscator-plugin-5.3.0.jar//net.imprex.orebfuscator.cache.AsyncChunk

[2022-10-26 13:13] dol4iua commented on #246
ProtocolLib Dump
Timestamp: 10/26/22 13:13:10

ProtocolLib Version: ProtocolLib v5.0.0-SNAPSHOT-b569
Bukkit Version: 1.19.2-R0.1-SNAPSHOT
Server Version: git-Purpur-1777 (MC: 1.19.2)
Java Version: 17.0.4

ProtocolLib: com.comphenix.protocol.ProtocolLib@681596f1[
  statistics=com.comphenix.protocol.metrics.Statistics@675cf5fc
  backgroundCompiler=com.comphenix.protocol.reflect.compiler.BackgroundCo

[2022-10-26 16:53] dol4iua commented on #246
I regen the chunk, it didn't help

[2022-10-26 22:37] dol4iua commented on #246
I //set 0 these chunks, the problem did not disappear

[2022-10-29 23:06] dol4iua commented on #246
I fix it , remove orebfuscator_cache for this chunks!!

[2022-10-29 23:06] dol4iua commented on #246
BTW TY FOR HELP)

[2022-10-31 21:10] Ingrim4 commented on #245
https://github.com/Imprex-Development/Orebfuscator/wiki/Config#obfuscation-config-section

[2022-11-02 19:06] NgLoader commented on #246
Sry, for the late response.
It seems that your world has set a not valid chunk value, did you edited it worldedit or any other plugin/mod?

[2022-11-03 19:53] dol4iua commented on #246
No, this
it happened by itself after restarting the server. there were no buildings in the tanks, they were like after generation.

[2022-11-14 22:57] Jmitch700 opened #247 "ores everywhere"
### Description

do you know how I make all the stone and deepslate look like ores?

### Reproduction Steps

do you know how I make all the stone and deepslate look like ores? so um

### Expected Behaviour

do you know how I make all the stone and deepslate look like ores?

### Server Details

spigot 1.19.2

### Orebfuscator Version

5.3.1

### ProtocolLib Version

4.7.1 snapshot

### Logs and Con

[2022-11-14 22:58] Jmitch700 commented on #247
not bug didnt know how to ask for help

[2022-11-15 00:00] NgLoader commented on #247
Checkout #113

[2022-11-15 00:00] #247 closed, assigned to NgLoader

[2022-11-15 00:14] Jmitch700 commented on #247
i look at that and did it but still didnt work

[2022-11-15 18:52] NgLoader commented on #247
Please check out our wiki [obfuscation config section](https://github.com/Imprex-Development/Orebfuscator/wiki/Config#obfuscation-config-section)

You just need to add stone and deepslate to hidden ores and remove them from random ores.
Please check that your editig the right world!

[2022-11-21 06:53] Chevels commented on #244
Here is the region file and protocollib dump.
Sorry for the delay, I was very busy this month
[Region file & dump protocollib.zip](https://github.com/Imprex-Development/Orebfuscator/files/10054114/Region.file.dump.protocollib.zip)

[2022-11-24 20:28] Ingrim4 commented on #244
The region file and chunks look good to me but there is another plugin called `RealisticSeasons` on your server which is listening to chunk packets before Orebufscator which could cause some problems in cause `RealisticSeasons` wrongly formats/modifies the chunk packets. If the problem should persists you could try to disable `RealisticSeasons` and check it that fixed the issue otherwise try conta

[2022-11-25 00:29] Chevels commented on #244
OK. This bug only occurs in one place on my map and has never happened anywhere else. I think I'll leave it like that.
What surprises me is that I have been using RealisticSeasons for several months and that this bug has never occurred except in this specific area. And the 2 plugins work very well.

Occasionally I'll talk to the developer of RealisticSeason so he knows his plugin is incorrectly mo

[2022-11-27 17:54] BartosB13 opened #248 "Barrier help"
### Description

Hello, we are using a barrier block at some point. Behind it is andesite, which I want to protect against xray. However, there is something like in the picture. Can do something about it?

![image](https://user-images.githubusercontent.com/89303317/204151631-e529154c-6b79-4ea4-b767-dd1c7442788d.png)
![image](https://user-images.githubusercontent.com/89303317/204151640-8cfe42ac-5f0